/*
Theme Name: BiP Leaf
Theme URI: http://bipsolutions.com
Author: BiP Web Design
Author URI: http://bipsolutions.com
Description: Blank Starter theme for BiP WordPress Themes
Version: 1.0.0
License: GNU General Public License v2 or later 
License URI: LICENSE
Tags:

*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import '../static/css/font';
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,800&display=swap');
@import 'bootstrap-theme'; 
@import '../static/dist/bootstrap4/scss/bootstrap'; 
@import '../static/css/mixins';    
 
$header_height_sm: 4em; 
$header_height_md: 4em;

body {  
    display: flex;
    flex-direction: column;
    height: 100vh; /* 1, 3 */
}

  h1,h2,h3,h4,h5 {
    font-weight: $font-weight-bold; 
}

ul {
    font-size: 14px;
}

h1 {
    text-transform: uppercase; 
}

.jumbotron {
    h1, h2, h3, h4, h5, h6 {
        font-weight: $font-weight-bold;
    }
}

/* Cursor */
.txt-type > .txt {
    border-right: 0.2rem solid $primary;
  }

hr {
    border: solid 5px $primary;
    max-width: 495px;
    text-align: left;
    margin-left: 0;
}

.hr-white {
    border:solid 5px $white;
    text-align: center;
    margin: 0 auto;
}

.hr-title {
    max-width: 300px;
    margin: 0 auto;
}

.bg-position {
	background-repeat: no-repeat;
	background-position: center; 
	background-size: cover;
	background-position-y: 35%;
}

.bg-custom {
    background: url('../static/img/graphic-a.png') left bottom no-repeat, url('../static/img/graphic-b.png') right top no-repeat !important;
    background-size: 200px, 200px, auto !important;
}

.bg-image {
    background: url('../static/img/background/bg-7.png') center center no-repeat;
    background-size: cover;
}

.prx-x {
    position: absolute;
    top: 85%;
    left: 50%; 
}

.prx-logo {
    max-width: 100%;
}

.btn-cta {
    @extend .btn;
    @extend .btn-primary;
    color: $gray-600 !important;
    background-color: $white !important;
}

.btn-white {
    color: $purple !important;
}

.btn-primary {
    color: $white !important;
}

.about-container {
    position: relative;
 }
 .about-testimonial {
    position: absolute;
    text-align: center;
    bottom: 6%;
    left: 0px;
    z-index: 1000;
    padding: 5px;
    color: $white;
    background-color: rgba(0, 0, 0, 0.5);
 }

 .about-image {
     width: 100%;
     height: auto;
 }

 .bg-gradient {
    background-image: linear-gradient(to top left, darken($purple, 40%), darken($purple, 10%)) !important;
 }

 .card-contain {
     padding: 1em;
     width: 100%;
     height: 200px;
    -webkit-box-shadow: 3px 3px 5px 6px $black;
    -moz-box-shadow: 3px 3px 5px 6px $black;
    box-shadow: 3px 3px 15px 1px $black;
    justify-content: center;
 }

 .card-img-top {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    padding: 1em;
 }

 @media (min-width: 768px) {
    /* show 4 items */ 
    .partners, .carousel_container_4_display {
        .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
      display: block; 
    }
  
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
      transition: none;
    }
  
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
  
    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
      position: absolute;
      top: 0;
      right: -25%;
    //   z-index: -1; // In some cases results in choppy transition. Removal does not seem to have any effect
      display: block;
      visibility: visible;
    }
  
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
  
    /* farthest right hidden item must be absolue position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      display: block;
      visibility: visible;
    }
  
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(100%, 0, 0);
      visibility: visible;
      display: block;
      visibility: visible;
    }
  }
}

.carousel-wrap {
    margin: 90px auto;
    padding: 0 5%;
    width: 80%;
    position: relative;
  }
  
  /* fix blank or flashing items on carousel */
  .owl-carousel .item {
    position: relative;
    z-index: 100; 
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
  }
  
  /* end fix */
  .owl-nav > div {
    margin-top: -26px;
    position: absolute;
    top: 50%;
    color: #cdcbcd;
  }
  
  .owl-nav i {
    font-size: 52px;
  }
  
  .owl-nav .owl-prev {
    left: -30px;
  }
  
  .owl-nav .owl-next {
    right: -30px;
  }
    
  
  header.header,
  footer.footer {
    flex: none; /* 2 */
  }
  
  section#content {
    flex: 1 0 auto; /* 2 */
    padding: var(--space) var(--space) 0;
    width: 100%;
  }
  section#content::after {
    content: '\00a0'; /* &nbsp; */
    display: block;
    margin-top: var(--space);
    height: 0px;
    visibility: hidden;
  }
  @media (--break-lg) {
    section#content {
      padding-top: var(--space-lg);
    }
    section#content::after {
      margin-top: var(--space-lg);
    }
  }
  
  section#content--full {
    padding: 0;
  }
  section#content--full::after {
    content: none;
  }
  
header.header{
    position:absolute;
    width:100%;

    .container{
        height:100%;
    }
}

@include respond-above(md) {
 
    nav.navbar {
        height:$header_height_md;
    }
    .pt-nav{ 
        padding-top:$header_height_md !important;
    }

}
@include respond-below(md) {
 
    nav.navbar {
        height:$header_height_sm;
    }
    .pt-nav{ 
        padding-top:$header_height_sm !important;
    }

    div#navbarCollapse {
        position: absolute;
        width: 100%;
        background: white;
        left: 0;
        top: 100%;
    }
    
    div#navbarCollapse > ul {
        max-width: 720px;
    }

}

.hero{
    color:white;
    background-position:center;
    background-size:cover;
    background-color: rgb(150, 150, 150);
    background-blend-mode: multiply;

    h1,h2,h3,h4,h5,h6,p,span{
        @extend .text-white;
    }
    
}

.feature-box-icon .fa-user-shield:before {
    position: relative;
    left: 8px;
}

a.dropdown-item {
    margin-left: 0 !important;
    color: $white !important;
}

.dropdown-item:hover {
    color: $purple !important;
}

.dropdown-item:active {
    background-color: $white !important;
}

.navbar-custom .navbar-nav li a:hover{
    color: #9c9c9c !important;
}

.nav-sticky.navbar-custom .navbar-nav li a:hover{
    color: #9c9c9c !important;
}

.full_hero{
    @extend .hero;
    min-height:80vh;
    display:flex;
    align-items:center;
    background-color: #49454a;
}

.nav-sticky .navbar-nav li a {
    color: $white !important;
}

.dropdown-menu {
    background-color: #212529;
}

.feature-boxes > div{
    display:flex;
    align-items: center;
}

.main-navigation a {
    color: white !important;
} 

.footer-navigation a {
    color: white !important;
    padding: 0 !important;
} 

#footer hr{
    background-color: whitesmoke;
    height: 0px;
    border-top: 1px solid rgba(255,255,255,0.4) !important;
}

img.screenshot{
    border-radius: 10px;
    box-shadow: #c1c1c1 3px 3px 5px 3px;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-box-icon i{
    width: 2em;
    height: 2em;
    background-color: #323232;
    color: #fff;
    font-size: 3em; 
    text-align: center;
    border-radius: 50%;
    line-height: 50px;
    @extend .flex-center;
}

.bg-light .btn-secondary{
    @extend .text-dark;
}

.bg-center{
    background-position:center;
    background-size:cover;
}
 
.drawer-hamburger-icon, .drawer-hamburger-icon:after, .drawer-hamburger-icon:before{
    background-color:white;
}

nav.drawer-nav {
    z-index: 999999;
} 

a.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
a.skip-main:focus, a.skip-main:active {
    color: #fff;
    background-color:#000;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    border-radius: 15px;
    border:4px solid yellow;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}

.full-width-banner{
    max-height: 45vh;
    min-height: 200px;
    height: 450px;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

#footer li {
    height: 2.5em;
    width: 180px;
}
.bg-grey{
    background-color:#f1f1f1!important
}

.speaker-cointainer{
    position:relative;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: $primary;
    .text {
        color: white;
        padding: 1em;
        text-align: center;
    }
}

.hover-overlay-container:hover .overlay {
    opacity: 1;
}

.hover-overlay-container:hover .speaker-name{
    opacity: 0;
    transition: 0.5s;
}

.modal-content-text{
    padding:1em;
    margin: 4em 2em;
}

#footer ul{
    flex-wrap: wrap;
    height:7.5em;
    justify-content: start;
    align-items: start;
}  
 
.pe-7s-play::before {

    content: "\e624";
    position: relative;
    left: 4px;
    bottom: 2px;

}
.speaker-cointainer img{
    width:100%;
    /*max-width: 100%;*/
    height: auto;
}

.nav-sticky.navbar-custom.sticky-dark {
    @extend .bg-dark;
} 

@media (max-width: 991px) and (min-width: 200px) {
    .navbar-custom {
        background-color: unset !important;
    }
    .nav-sticky .navbar-nav li a {
        color: unset !important;
    }
    .navbar-custom .navbar-nav li a {
        color: $purple !important;
    }
    .navbar-custom .navbar-nav .nav-link {
        padding-left: 20px;
    }
    .navbar li.nav-item:last-child {
        background: transparent!important;
        border-radius: 0px;
    }
} 

i.mdi.mdi-menu {
    color: $white;
}

.logo .logo-dark {
    max-height: 40px;
}

.fa-envelope, .fa-linkedin-in, .fa-twitter {
    color: $white;
}

.fa-envelope:hover, .fa-linkedin-in:hover, .fa-twitter:hover {
    color: $gray-600;
}

.footer-details {
    font-size: 12px;
}

.card-bg {
    background-color: $gray-200;
    min-height: 100%;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
        display: none;
      }
    .card {
      display: inline-block;
      width: 300px;
      height: auto;
      background-color: $gray-200;
    }
  }
  .modal-dialog {
    max-width: 800px;
    margin: 150px auto;
}



.modal-body {
position:relative;
padding:0px;
}
.close {
position:absolute;
right:-30px;
top:0;
z-index:999;
font-size:2rem;
font-weight: normal;
color:#fff;
opacity:1;
}

#myClassicTabContentOrange {
    color: $gray-900;
    padding: 1em;
}

.tabs-orange {
    justify-content: space-between;
}

.tabs-orange i {
    color: $white;
}

.tabs-orange .nav-link {
    color: $white;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

.waves-light:hover {
    background-color: #dad8d8;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}
 
.waves-light.active {
    background-color: #dad8d8;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.text-small {
    font-size: 10px;
    font-weight: $font-weight-light;
}

.md-form input,select {
    text-align: center;
} 

#contactMessage {
    height: 100px;
}

.sponsors-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: unset;
    z-index: 999;
    border: solid 1px #4a4a4a4d;
    border-radius: 10px;
    margin: 1em;
    height: 200px;
    /*max-height: 200px;*/
    position: relative;
    border-radius: 20px;
    box-shadow: 3px 3px 15px 1px #00000036;
}

.sponsors-container.gold{
    border: 5px solid gold;
}

.sponsors-container.headline_sponsor{
    border: 5px solid #6f42c1;
}

img.sponsor-img {
    max-width: 100%;
    height: auto;
    padding: 2em;
}

.navbar li.nav-item:last-child {
    background: $primary;
    border-radius: 5px;
}

.waves-light {
    background: white;
    border-radius: 25px 25px 0 0;
    border-left: 2px solid #bcbcbc;
    min-height: 130px;
    padding-top: 22px;
}

ul#myClassicTabOrange .nav-item {
    padding: 0 !important;
}

.liveStageBG {
    background: #e1e1e1;
    padding: 40px !important;
    border: 5px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

img.supplyChainLogo {
    width: 50%;
}


@media (max-width: 797px) {

    .sponsors-container {
        height: auto;
        max-height: auto!important;
    }

}

@media (max-width: 998px) {
    img.sponsor-img {
        max-width: 100%;
        height: auto;
        padding: 2em;
    }
}

.bg-gradient2 {
    background-image: -webkit-gradient(linear, right bottom, left top, from(#a2a2a2), to(#d2d2d2)) !important;
    background-image: linear-gradient(to top left, #a2a2a2, #d2d2d2) !important;
}

.hr-agenda{
    max-width:100%!important;
    border: solid 2px #a1a1a1!important;
    width: 100%;
    /*background: $primary;*/
}

.v-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeslot {
    border-radius: 5px;
    /* background: #e9e9e9; */
    background: $primary;
    color: $white;
    padding: 13px 16px;
}

.location-icon {
    position: relative;
    right: 4px;
    top: 2px;
}

.sidebar {
    position: fixed;
}

.sticky-top {
    z-index: 999!important;
    color: red;
    top: 100px!important;
}

.anchorText {
    font-weight: bold;

    .anchor {
        margin-bottom: 20px;
        padding: 20px;
        font-size: 14px;
        border: 2px solid $primary;
        border-radius: 10px;
    }
    
}

.text-new{
    font-size: 1.5rem;
    color: $primary;
    border-bottom: 6px solid $primary;
}

html {
    scroll-behavior: smooth;
}

// Variable image size no-stretch implementation (the only static size defined is height)
.gallery-item-container {
	height: 200px;
	max-height: 200px;
	cursor: pointer;
}

.gallery-item-logo {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	border: unset;
	border-radius: unset;
	background: unset;
	border: solid 1px #929292;
    border-radius: 5px;
    background-color:#fff;
}

.gallery-item-logo:hover {
    background-color:#c7c7c7;
    transition: 0.5s;
}

.gallery-item-logo > img {
    max-height: 70%;
    max-width: 90%;
}

a.nav-link.dropdown-toggle {
    cursor: pointer;
}

.agenda-item:hover {
    background: #e6e6e6;
    transition: 0.5s;
    cursor: pointer;
}

.border-2 {
    border-width:2px !important;
}

.border-3 {
    border-width:3px !important;
}

.border-4 {
    border-width:4px !important;
}

.border-5 {
    border-width:5px !important;
}

//########## Default class style group for displaying images dynamically start ##########
// The only needed static size is for the image outer wrapper. That height can be customized with custom style or separate unique class
.custom-image-container {
	height: 200px;
	max-height: 200px;
}

.custom-image {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.custom-image > img {
    max-height: 70%;
    max-width: 90%;
}

.custom-image-hover:hover {
    background: #c7c7c7;
    transition: 0.5s;
    cursor: pointer;
}
//########## Default class style group for displaying images dynamically end ##########

.event-theme-logo-container {
    height: 150px;
    max-height: 150px;
}

.speaker-name{
    position: absolute;
    text-align: center;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 1000;
    padding: 5px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
}
