/**
 * @license
 * MyFonts Webfont Build ID 3766652, 2019-05-28T07:44:31-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Campton-Book by Rene Bieder
 * URL: https://www.myfonts.com/fonts/rene-bieder/campton/book/
 * 
 * Webfont: Campton-ExtraBold by Rene Bieder
 * URL: https://www.myfonts.com/fonts/rene-bieder/campton/extra-bold/
 * 
 * Webfont: Campton-ExtraLight by Rene Bieder
 * URL: https://www.myfonts.com/fonts/rene-bieder/campton/extra-light/
 * 
 * Webfont: Campton-Medium by Rene Bieder
 * URL: https://www.myfonts.com/fonts/rene-bieder/campton/medium/
 * 
 * 
 * License: https://www.myfonts.com/viewlicense?type=web&buildid=3766652
 * Licensed pageviews: 10,000
 * Webfonts copyright: Copyright &#x00A9; 2017 by Ren&#x00E9; Bieder. All rights reserved.
 * 
 * © 2019 MyFonts Inc
*/

/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/39797c");

@font-face {font-family: 'Campton-Book';src: url('../static/css/fonts/39797C_0_0.eot');src: url('../static/css/fonts/39797C_0_0.eot?#iefix') format('embedded-opentype'),url('../static/css/fonts/39797C_0_0.woff2') format('woff2'),url('../static/css/fonts/39797C_0_0.woff') format('woff'),url('../static/css/fonts/39797C_0_0.ttf') format('truetype');}
 
@font-face {font-family: 'Campton-ExtraBold';src: url('../static/css/fonts/39797C_1_0.eot');src: url('../static/css/fonts/39797C_1_0.eot?#iefix') format('embedded-opentype'),url('../static/css/fonts/39797C_1_0.woff2') format('woff2'),url('../static/css/fonts/39797C_1_0.woff') format('woff'),url('../static/css/fonts/39797C_1_0.ttf') format('truetype');}
 
@font-face {font-family: 'Campton-ExtraLight';src: url('../static/css/fonts/39797C_2_0.eot');src: url('../static/css/fonts/39797C_2_0.eot?#iefix') format('embedded-opentype'),url('../static/css/fonts/39797C_2_0.woff2') format('woff2'),url('../static/css/fonts/39797C_2_0.woff') format('woff'),url('../static/css/fonts/39797C_2_0.ttf') format('truetype');}
 
@font-face {font-family: 'Campton-Medium';src: url('../static/css/fonts/39797C_3_0.eot');src: url('../static/css/fonts/39797C_3_0.eot?#iefix') format('embedded-opentype'),url('../static/css/fonts/39797C_3_0.woff2') format('woff2'),url('../static/css/fonts/39797C_3_0.woff') format('woff'),url('../static/css/fonts/39797C_3_0.ttf') format('truetype');} 