.lazy-hidden,.entry img.lazy-hidden, img.thumbnail.lazy-hidden {
	background-color:transparent !important;
	background-image: url('loading.gif');
	background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 40px;
}
figure.wp-block-image img.lazy-hidden {
	min-width: 150px;
}