<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Procurex National -Admin Notification</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <style>
        @import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
    </style>
</head>

<body style="margin: 0; padding: 0;">


    <table cellspacing="0" cellpadding="0" align="center" width="100%" style="border: 1px solid #cccccc;">

        Procurex National user has submitted a response on the form, please check the database for new submissions.
        
    </table>


</body>

</html>
