<!DOCTYPE html PUBLIC "-//W3C//DTDXHTML1.0Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Procurex National - Public Sector Ticket</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <style>
            @import url('https://fonts.googleapis.com/css?family=Raleway &display=swap');
        </style>
    </head>

    <body style="margin: 0; padding: 0;">


        <table cellspacing="0" cellpadding="0" align="center" width="100%" style="border: 1px solid #cccccc;">


            <tr>
                <td align="center" style="padding: 20px 0;" bgcolor="#292b2c">
                    <img width="250" src="https://www.procurexnational.co.uk/static/img/logo-light.png"/>
                </td>
            </tr>


            <tr bgcolor="#ffffff">
                <td style="padding: 10px 30px;">
                    <table align="center" style="width: 100%; max-width: 600px;">
                        <tr>
                            <td>
                                <p>
                                    <h3 style="font-family: 'Raleway', sans-serif;">Dear Delegate,</h3>
                                </p>
                                <p>Thank you for registering to attend
                                    <strong>Procurex National</strong>
                                    on 22 April at NEC Birmingham.</p>

                                <p>Your registration has been successful and will give you access to all key events features at the Procurement Event of the Year, we look forward to welcoming you there.</p>

                                <p>With kind regards,</p>
                                <p>The Procurex National Team,</p>
                            
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>


            <tr bgcolor="#f1f1f1">
                <td style="padding: 10px 30px 15px;">

                    <block th:each="userAlertRun: ${userAlertRuns}">
                        <block th:if="${userAlertRun.matchesMade &gt; 0}">
                            <block th:with="topMatchesTotal=${userAlertRun.matchesMade &lt; 3 ? userAlertRun.matchesMade : '3'}">
                                <block th:each="userAlertMatch, iter: ${userAlertRun.matches}">
                                    <table bgcolor="#ffffff" border="0" cellspacing="0" cellpadding="0" align="center" style="border-radius: 5px; width: 100%; max-width: 600px; border: 2px solid lightgray;">
                                        <tr>
                                            <td style="padding:15px;">
                                                <h3 style="font-family: 'Raleway', sans-serif;">
                                                    <a style="color: #4533e8; font-family: 'Raleway', sans-serif;" href="#" th:href="${'/some-address/view-opportunity.html?noticeId='+userAlertMatch.noticeId}">
                                                        <strong>Procurex National</strong>
                                                    </a>
                                                </h3>

                                                <span style="font-family: 'Raleway', sans-serif;">
                                                    22 April 2020
                                                </span>
                                                <strong style="color: #3dd4d1;">
                                                    |
                                                </strong>

                                                <span style="font-family: 'Raleway', sans-serif;">
                                                    NEC
                                                </span>
                                                <strong style="color: #3dd4d1;">
                                                    |
                                                </strong>

                                                <span style="font-family: 'Raleway', sans-serif;">
                                                    Birmingham
                                                </span>

                                                <p style="font-family: 'Raleway', sans-serif;">This ticket will give you access to all key event features and themes at Procurex National.</p>
                                            </td>
                                        </tr>
                                    </table>
                                </block>
                            </block>
                        </block>
                    </block>


                </td>
            </tr>
            <tr bgcolor="#ffffff">
                <td style="padding: 10px 30px;">
                    <table align="center" style="width: 100%; max-width: 600px;">
                        <tr>
                            <td>

                                <p style="font-family: 'Raleway', sans-serif;">With kind regards,<br>The Procurex National Team</p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table align="center" width="100%" cellspacing="0" cellpadding="0">


                        <tr bgcolor="#59339d">
                            <td style="padding: 10px 30px;">
                                <table align="center" cellspacing="0" cellpadding="0" style="width: 100%; max-width: 600px; padding-bottom:10px;">
                                    <tr>
                                        <td>
                                            <h3 style="color: white; font-family: 'Raleway', sans-serif;">Contact Us</h3>
                                            <p style="color: white; font-family: 'Raleway', sans-serif;">Email us at
                                                <a href="mailto:events@procurexnational.co.uk" style="color:#ffffff;">events@procurexnational.co.uk</a>
                                                or call us on 0845 270 7095<br>*Please note that calls cost 2p per minute plus your company access charge which varies between providers.</p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td bgcolor="#292b2c" style="padding: 30px;">
                                <table align="center" cellspacing="0" cellpadding="0" style="width: 100%; max-width: 600px;">
                                    <tr>
                                        <td bgcolor="#292b2c" style="padding: 30px;">
                                            <table align="center" cellspacing="0" cellpadding="0" style="width: 100%; max-width: 600px;">
                                                <tr>
                                                    <td width="60%">
                                                        <a href="http://www.bipsolutions.com" style="font-family: 'Raleway', sans-serif;"><img src="http://www.bipsolutions.com/mailouts/supply15/alert/images/biplogo.png" alt="BiP Solutions"/></a>
                                                    </td>
                                                    <td align="right">
                                                        <table cellpadding="0" cellspacing="0">
                                                            <tr>
                                                                
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>


    </body>

</html>
