<div class="row">
<div class="col-lg-8">
<img class="prx-logo mt-4 animated zoomIn" src="{{theme.link}}/static/img/logo.png" alt="logo" width="500" />
<h1 class="font-weight-bold mt-4 mb-4">THE PROCUREMENT<br />EVENT TO <span class="txt-type" data-wait="3000" data-words='["INNOVATE.", "EDUCATE.", "COLLABORATE.", "CELEBRATE."]'></span></h1>
<hr class="animated zoomIn">
<h4 class="venue">22 APRIL 2020 - NEC BIRMINGHAM</h4><p>Procurex National is the UK's largest procurement event and brings<br />together organisations from across the procurement marketplace.</p>
</div>
<div class="col-lg-4 d-none d-sm-none d-md-none d-lg-block">
<img class="prx-x animated slideInRight" src="{{theme.link}}/static/img/x-logo.png" width="400" />
</div>
</div>