<div class="row">
    <div class="col-md-4">
        <div class="about-container wow fadeIn pb-4">
            <div class="about-testimonial">
                <div id="carouselContent" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <h5>"Procurex allows my business to learn best practises in procurement."</h5>
                            <p>JOHN DOE</p>
                        </div>
                        <div class="carousel-item">
                            <h5>"Procurex allows my business to learn best practises in procurement."</h5>
                            <p>ANDREW PERRY</p>
                        </div>
                        <div class="carousel-item">
                            <h5>"Procurex allows my business to learn best practises in procurement."</h5>
                            <p>MARTIN MALLOY</p>
                        </div>
                    </div>
                </div>
            </div>
            <img class="about-image" src="{{theme.link}}/static/img/testimonial-img.png"/>
        </div>
    </div>
    <div class="col-md-4">
        <img class="wow fadeIn pb-4" src="{{theme.link}}/static/img/testimonial-img2.png"/>
    </div>
    <div class="col-md-4">
        <h1 class="mt-5">About The Conference</h1>
        <hr class="animated zoomIn">
        <iframe class="wow fadeIn" src="https://player.vimeo.com/video/340619498" width="340" height="210" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>
</div>
