<div class="container-fluid partners">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <h1 class="text-center">Event Partners</h1>
        <hr class="hr-white hr-title mb-5 animated zoomIn">
        <div class="col text-center">
            <p>Thank you to our 2019 partners</p>
            <a href="#link" class="btn btn-light">View All</a>
        </div>
        <div class="carousel-inner row mb-2 pb-4 mx-auto">
           
            <div class="carousel-item col-md-3 active">
                <div class="card card-contain">
                    <img class="card-img-top img-fluid" src="{{theme.link}}/static/img/logos/logo1.png" alt="Card image cap">
                </div>
            </div>
            <div class="carousel-item col-md-3">
                <div class="card card-contain">
                    <img class="card-img-top img-fluid" src="{{theme.link}}/static/img/logos/logo2.png" alt="Card image cap">
                </div>
            </div>
            <div class="carousel-item col-md-3">
                <div class="card card-contain">
                    <img class="card-img-top img-fluid" src="{{theme.link}}/static/img/logos/logo3.png" alt="Card image cap">
                </div>
            </div>
            <div class="carousel-item col-md-3">
                <div class="card card-contain">
                    <img class="card-img-top img-fluid" src="{{theme.link}}/static/img/logos/logo4.png" alt="Card image cap">
                </div>
            </div>
            <div class="carousel-item col-md-3">
                <div class="card card-contain">
                    <img class="card-img-top img-fluid" src="{{theme.link}}/static/img/logos/logo5.png" alt="Card image cap">
                </div>
            </div>
            <div class="carousel-item col-md-3">
                <div class="card card-contain">
                    <img class="card-img-top img-fluid" src="{{theme.link}}/static/img/logos/logo6.png" alt="Card image cap">
                </div>
            </div>
        </div>
        <div class="carousel-item col-md-3">
            <div class="card card-contain">
                <img class="card-img-top img-fluid" src="{{theme.link}}/static/img/logos/logo7.png" alt="Card image cap">
            </div>
        </div>
    </div>
    <div id="secondCarousel" class="partners carousel slide" data-ride="carousel">
        <div class="carousel-inner row mb-2 pb-4 mx-auto">
            <div class="carousel-item col-md-3 active">
                <div class="card card-contain">
                    <img class="card-img-top img-fluid" src="{{theme.link}}/static/img/logos/logo7.png" alt="Card image cap">
                </div>
            </div>
            <div class="carousel-item col-md-3">
                <div class="card card-contain">
                    <img class="card-img-top img-fluid" src="{{theme.link}}/static/img/logos/logo6.png" alt="Card image cap">
                </div>
            </div>
            <div class="carousel-item col-md-3">
                <div class="card card-contain">
                    <img class="card-img-top img-fluid" src="{{theme.link}}/static/img/logos/logo5.png" alt="Card image cap">
                </div>
            </div>
            <div class="carousel-item col-md-3">
                <div class="card card-contain">
                    <img class="card-img-top img-fluid" src="{{theme.link}}/static/img/logos/logo4.png" alt="Card image cap">
                </div>
            </div>
            <div class="carousel-item col-md-3">
                <div class="card card-contain">
                    <img class="card-img-top img-fluid" src="{{theme.link}}/static/img/logos/logo3.png" alt="Card image cap">
                </div>
            </div>
            <div class="carousel-item col-md-3">
                <div class="card card-contain">
                    <img class="card-img-top img-fluid" src="{{theme.link}}/static/img/logos/logo2.png" alt="Card image cap">
                </div>
            </div>
        </div>
        <div class="carousel-item col-md-3">
            <div class="card card-contain">
                <img class="card-img-top img-fluid" src="{{theme.link}}/static/img/logos/logo1.png" alt="Card image cap">
            </div>
        </div>
    </div>
</div></div></div>
