<h1>Why Attend</h1>
<hr class="mx-left hr-title" />
<p>Against a backdrop of an annual UK procurement spend of over £284bn, Procurex National, part of the inaugural UK Public Sector Sourcing Expo, will bring together over 1500 key decision makers from across the procurement marketplace.</p>