<!-- ## {{item_type}} agenda start ## -->
<div class="container agenda" id="{{item_type}}_container">

    {% for agenda_item in agenda_items %}

        <div class="agenda-item row v-center border-top border-5 py-2" data-toggle="modal" data-target="#{{item_type}}_{{agenda_item.agenda_item_id}}">
            <div class="col-12 col-md-2 font-weight-bold timeslot"><i class="far fa-clock location-icon"></i>{{agenda_item.time_range|raw}}</div>
            <div class="col-12 col-md-3 text-primary"><p><strong>{{agenda_item.title|raw}}</strong></p></div>
            <div class="col-12 {{(agenda_item.overview != '') ? 'col-md-6' : 'col-md-7'}}"><p class=""><b>{{agenda_item.speaker_name|raw}}</b></p>{{agenda_item.speaker_position|raw}}</div>
            {% if agenda_item.overview != '' %}
                <div class="col-12 col-md-1 toggle-collapse"><span class="fas fa-2x fa-plus-circle" data-target="#{{item_type}}_{{agenda_item.agenda_item_id}}_collapsible" role="button" aria-expanded="false" aria-controls="{{item_type}}_{{agenda_item.agenda_item_id}}_collapsible"></span></div>
            {% endif %}
        </div>

        {% if agenda_item.overview != '' %}
        <div id="{{item_type}}_{{agenda_item.agenda_item_id}}_collapsible" class="row collapse">
            <div class="col-10 offset-2">{{agenda_item.overview|raw}}</div>
        </div>
        {% endif %}

    {% endfor %}

    {% for agenda_item in agenda_items %}

        <div class="modal fade" id="{{item_type}}_{{agenda_item.agenda_item_id}}" tabindex="-1" role="dialog" aria-labelledby="{{item_type}}_title_{{agenda_item.agenda_item_id}}" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title" id="{{item_type}}_title_{{agenda_item.agenda_item_id}}">{{agenda_item.speaker_name|raw}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body mb-2">
                        <div class="container-fluid">

                            <div class="row border-bottom mt-1">
                                <div class="col-12">
                                    <h6>{{agenda_item.speaker_position|raw}}</h6>
                                </div>
                            </div>

                            <div class="row my-2">
                                <div class="col-5 text-center">
                                    <img class="img-fluid" src="{{agenda_item.speaker_image.url}}" alt="{{agenda_item.speaker_image.alt}}">
                                </div>
                                <div class="col-7">{{agenda_item.speaker_bio|raw}}</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    {% endfor %}
</div>

<strong>More coming soon</strong><br>
<small><i>Subject to change</i></small>

<!-- ## {{item_type}} agenda end ## -->
