<!DOCTYPE html>
<html lang="en" class="no-js">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Procurex National - The UK’s Leading Public Sector Procurement Event</title>
        <meta name="keywords" content=""/>
        <meta name="author" content="Themesdesign"/>

        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-MCJQJPX');</script>
        <!-- End Google Tag Manager -->

        <link rel="shortcut icon" href="{{site.url}}static/img/favicon.ico">

        <!-- google font -->
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600" rel="stylesheet">

        <!--Material Icon -->
        <link rel="stylesheet" type="text/css" href="{{site.url}}static/css/materialdesignicons.min.css"/>

        <!-- Pe-icon-7 icon -->
        <link rel="stylesheet" type="text/css" href="{{site.url}}static/css/Pe-icon-7-stroke.css">

        <!-- Swiper CSS -->
        <link rel="stylesheet" href="{{site.url}}static/css/swiper.min.css">

        <!--Slider-->
        <link rel="stylesheet" href="{{site.url}}static/css/owl.carousel.css"/>
        <link rel="stylesheet" href="{{site.url}}static/css/owl.theme.css"/>
        <link rel="stylesheet" href="{{site.url}}static/css/owl.transitions.css"/>

        <link rel="stylesheet" type="text/css" href="{{site.url}}static/css/magnific-popup.css"/>

        <!-- Custom  Css -->
        <link rel="stylesheet" type="text/css" href="{{site.url}}static/css/tulsy.css"/>

        <!-- Custom  Bootstrap and our styles -->
        <link rel="stylesheet" type="text/css" href="{{site.url}}{{ fileDate('css/style.css') }}"/>
        {# <link rel="stylesheet" type="text/css" href="{{site.url}}css/style.css?1"/> #}

        <!-- Custom  Css -->
        <link rel="stylesheet" type="text/css" href="{{site.url}}static/dist/font-awesome/css/all.min.css"/>

        <script src="{{site.url}}static/js/jquery.min.js"></script>
        <script src="{{site.url}}static/js/popper.min.js"></script>
        

        <link rel="stylesheet" type="text/css" href="{{site.url}}static/css/animate.css"/>
        
        <!-- META TAGS -->
        <meta name="title" content="Procurex National – The Procurement Event of the Year">
        <meta name="description" content="22 April 2020 – NEC Birmingham – Procurex National brings together 1500+ key decision-makers from across the £284bn public procurement marketplace.">

    </head>

    <body class="softwere-preview">
    <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MCJQJPX"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        {% block navbar %}
            <!--Navbar Start-->
            <nav class="navbar navbar-expand-lg fixed-top navbar-custom sticky sticky-dark">
                <div
                    class="container">

                    <!-- LOGO -->
                    <a class="navbar-brand logo text-uppercase" href="{{site.url}}">
                        <img src="{{site.url}}static/img/logo-light.png" class="logo-light" alt="" height="55">
                        <img src="{{site.url}}static/img/logo-light.png" class="logo-dark" alt="" height="55">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="mdi mdi-menu"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        {% include "menu.twig" with {'items': menus.main.items} %}
                    </div>

                </div>
            </nav>
            <!-- Navbar End -->
        {% endblock %}

        {% block hero %}{% endblock %}


        {% block content %}
            <div class="container">
                No Content
            </div>
        {% endblock %}

        {% block footer %}
            <!-- START FOOTER -->
            <footer class="agency-bg-footer pb-5">
                <div class="bg-primary text-white">
                    <div
                        class="container">

                        <!-- Grid row-->
                        <div
                            class="row py-4 mb-4 d-flex align-items-center">

                            <!-- Grid column -->
                            <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                                <h6 class="mb-0">Keep up to date with Procurex on social networks!</h6>
                            </div>
                            <!-- Grid column -->

                            <!-- Grid column -->
                            <div
                                class="col-md-6 col-lg-7 text-center text-md-right">

                                <!-- Email -->
                                <a href="mailto:exhibitions@procurexnational.co.uk" class="fb-ic">
                                    <i class="fas fa-envelope white-text mr-4"></i>
                                </a>
                                <!-- Twitter -->
                                <a href="https://twitter.com/procurexlive" class="tw-ic" target="_blank">
                                    <i class="fab fa-twitter white-text mr-4"></i>
                                </a>
                                <!--Linkedin -->
                                <a href="https://www.linkedin.com/company/procurexlive/" class="li-ic" target="_blank">
                                    <i class="fab fa-linkedin-in white-text mr-4"></i>
                                </a>

                            </div>
                            <!-- Grid column -->

                        </div>
                        <!-- Grid row-->

                    </div>
                </div>
                <div class="container">
                    <div class="row navbar-dark text-white">
                        <div class="col-lg-3 ">
                            <h6 class="text-uppercase font-weight-bold"><a style="color:white;" href="https://www.procurexnational.co.uk/static/pdf/sales-brochure.pdf">Event Organiser</a></h6>
                            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                            <p>{{event.name}} is managed by BiP Solutions. For 35 years we have been part of public procurement's incredible success story</p>
                            <img width="200" src="{{site.url}}static/img/bip-logo-white.png"/>
                        </div>

                        <div class="col-lg-3">
                            <div class="">
                                <h6 class="footer-heading text-uppercase font-weight-bold f-16">About</h6>
                                {% include "menu.twig" with {'items': menus.footer.items.about} %}
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="">
                                <h6 class="footer-heading text-uppercase font-weight-bold f-16">Useful Links</h6>
                                {% include "menu.twig" with {'items': menus.footer.items.useful_links} %}
                            </div>
                        </div>

                        <div
                            class="col-lg-3">
                            <!-- Links -->
                            <h6 class="text-uppercase font-weight-bold">Contact</h6>
                            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                            <p class="footer-details">
                                <i class="fas fa-map-marker-alt"></i>
                                {{event.date}}
                                -
                                {{event.venue}}</p>
                            <p class="footer-details">
                                <i class="fas fa-envelope"></i>
                                <a class="text-white" href="mailto:{{event.email}}">{{event.email}}</a></p>
                            <p class="footer-details">
                                <i class="fas fa-phone"></i>
                                <a class="text-white" href="tel:{{event.phone}}">{{event.phone}}</a></p>
                        </div>

                    </div>

                    <div class="row mt-5">
                        <div class="col-lg-12">
                            <div class="agency-footer-alt-content p-4">
                                <p class="copy-right text-center mb-0">© 2020 BiP Solutions</p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- END FOOTER-ALT -->
        {% endblock %}
        <!-- JAVASCRIPTS -->
        <script src="{{site.url}}static/js/jquery.ac-form-field-repeater.js"></script>
        <script src="{{site.url}}static/js/bootstrap.min.js"></script>
        <script src="{{site.url}}static/js/jquery.easing.min.js"></script>
        <script src="{{site.url}}static/js/scrollspy.min.js"></script>
        <script src="{{site.url}}static/js/typewriter.js"></script>
        <script src="{{site.url}}{{ fileDate('static/js/main.js') }}"></script>
        {# <script src="{{site.url}}static/js/main.js?4"></script> #}

        <script src="{{site.url}}static/js/wow.min.js"></script>
        

        <!-- Owl Carousel -->
        <script src="{{site.url}}static/js/owl.carousel.min.js"></script>
        <!-- Portfolio js -->
        <script src="{{site.url}}static/js/jquery.magnific-popup.min.js"></script>
        <!-- Swiper JS -->
        <script src="{{site.url}}static/js/swiper.min.js"></script>
        <!-- Counter JS -->

        <!-- isotope filter plugin -->
        <script src="{{site.url}}static/js/isotope.pkgd.min.js"></script>
        <script src="{{site.url}}static/js/masonry.pkgd.min.js"></script>
        <script src="{{site.url}}static/js/app.js"></script>


    </body>

</html>
