{% extends "page.twig" %}

{% block content %}

    {# START BOOK NOW #}

    <section id="book-now">
        <div class="row pt-5 pb-5 bg-image text-white">
            <div class="container">
                <div class="container-fluid">
                    <h1>Book Now</h1>
                    <hr class="mb-5 animated zoomIn" style="width:300px;">
                    <p>Attended by over 1500 key decision makers, Procurex National will provide a unique opportunity for both buyers and suppliers to participate within a range of interactive and educational features.</p>

                    <p>Tickets are complimentary for public sector delegates and cost only £95.00 + VAT for industry/private sector. Bookings include access to all event features.</p>

                    <p>Choose your sector below and complete the form to register your place today.</p>
                    <div class="row my-5 wow fadeInRight">
                        <div class="col-sm-6">
                            <h4>Private Sector</h4>
                            <p>£95 ex. VAT</p>
                            <a href="https://secure.bipcontracts.com/cgi-bin/subscribe/SubBiP.cgi?txnType=Seminar&productFile=prx_national_2020.dta&whatToDo=BlankSeminarForm" class="btn btn-primary">Book Now</a>
                            <!--<a class="btn btn-primary" href="{{site.url}}private-ticket"> Book Now </a>-->
                        </div>
                        <div class="col-sm-6">
                            <h4>Public Sector</h4>
                            <p>FREE</p>
                            <a class="btn btn-primary" href="{{site.url}}public-ticket"> Book Now </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
