{% extends "page.twig" %}

{% block content %}

    {# START CANCELED #}

    <section id="success">
        <div class="row pt-5 pb-5 bg-custom">
            <div class="container">
                <div class="container-fluid">
                <h1 style="text-center">There was an issue with payment</h1>
                <hr style="hr-title">
                <p>Your payment has not been processed and you have not been charged</p>

                <p>Please contact us and we will try and resolve this issue.</p>

                <a class="btn btn-primary" href="{{site.url}}">Home</a> <a class="btn btn-primary" href="{{site.url}}contact">Contact</a>

                </div>
            </div>
        </div>
    </section>

    {# END SUCCESS #}

{% endblock %}
