{% extends "page.twig" %}

{# block hero_image %}
{% endblock #}

{% block content %}

    {# START CONTACT #}

    <section id="contact">
        <div class="row pt-5 pb-5 bg-image text-white">
            <div class="container">
                <div class="container-fluid">
                    <h1>Contact Us</h1>
                    <hr class="mb-5 animated zoomIn" style="width:300px;">
                    <p>Whether you’re interested in exhibiting, sponsoring or visiting Procurex National 2020, one of our team will be able to help you.</p>

                    <p>Please complete the contact form and we will get back to you as soon as we can. Alternatively, you can contact us using one of the methods below.</p>

                    <p>* Please note that calls cost 2p per minute plus your company access charge, which varies between providers.</p>
                    <div class="row my-5 wow fadeInRight">
                        <div class="col-sm-4 ">
                            <h4>Exhibition Enquiries</h4>
                            <p>0845 270 7066</p>
                            <a class="btn btn-primary" href="mailto:exhibitions@procurexnational.co.uk">Email</a>
                        </div>
                        <div class="col-sm-4">
                            <h4>Visiting Enquiries</h4>
                            <p>0845 270 7095</p>
                            <a class="btn btn-primary" href="mailto:events@procurexnational.co.uk">Email</a>
                        </div>
                        <div class="col-sm-4">
                            <h4>Sponsoring Enquiries</h4>
                            <p>0845 270 7066</p>
                            <a class="btn btn-primary" href="mailto:sponsorship@procurexnational.co.uk">Email</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    {# END CONTACT #}

    {# START FORM #}

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <section>
        <div class="row pt-5 pb-5">
            <div class="container">
                <div class="container-fluid">
                    <h1 class="text-center">Contact Form</h1>
                    <hr
                    class="hr-title mb-5 animated zoomIn" style="width:300px;">

                    <!-- Material form register -->
                    <div class="card card-bg">

                        <h5 class="card-header bg-primary text-white mb-5 info-color white-text text-center py-4">
                            <strong>Get In Touch</strong>
                        </h5>

                        <!--Card content-->
                        <div
                            class="card-body px-lg-5 pt-0">

                            <!-- Form -->
                            <form action="javascript:storeContact()" class="font-weight-bold text-center mx-5" style="color: #757575;" id="contact-form">
                                <h5 class="text-dark">Your Details</h5>
                                <div class="form-row my-4">
                                    <div
                                        class="col-md-6 col-sm-12">
                                        <!-- First name -->
                                        <div class="md-form">
                                            <label for="contactFirstName">First Name</label>
                                            <input type="text" name="contactFirstName" id="contactFirstName" class="form-control" required="true">
                                        </div>
                                    </div>
                                    <div
                                        class="col-md-6 col-sm-12">
                                        <!-- Last name -->
                                        <div class="md-form">
                                            <label for="contactLastName">Last Name</label>
                                            <input type="text" name="contactLastName" id="contactLastName" class="form-control" required="true">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row my-4">
                                    <div
                                        class="col-md-6 col-sm-12">
                                        <!-- Company -->
                                        <div class="md-form">
                                            <label for="contactCompany">Company</label>
                                            <input type="text" name="contactCompany" id="contactCompany" class="form-control" required="true">
                                        </div>
                                    </div>
                                    <div
                                        class="col-md-6 col-sm-12">
                                        <!-- Email -->
                                        <div class="md-form">
                                            <label for="contactEmail">Email</label>
                                            <input type="text" name="contactEmail" id="contactEmail" class="form-control" required="true">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row my-4">
                                    <div
                                        class="col-md-6 col-sm-12">
                                        <!-- Enquiry -->
                                        <div class="md-form">
                                            <label for="contactEnquiry">Area of Enquiry</label>
                                            <select name="contactEnquiry" id="contactEnquiry" class="form-control" required="true">
                                                <option value="">Please select</option>
                                                <option value="Sponsoring">Sponsoring</option>
                                                <option value="Exhibiting">Exhibiting</option>
                                                <option value="Visiting">Visiting</option>
                                                <option value="Other">Other</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div
                                        class="col-md-6 col-sm-12">
                                        <!-- Contact Message -->
                                        <div class="md-form">
                                            <label for="contactOrgType">Organisation Type</label>
                                            <select name="contactOrgType" id="contactOrgType" class="form-control" required="true">
                                                <option value="">Please select</option>
                                                <option value="Government, Hospital, Education, or Other Public Body">Government, Hospital, Education, or Other Public Body</option>
                                                <option value="Limited Company">Limited Company</option>
                                                <option value="Limited Liability Partnership">Limited Liability Partnership</option>
                                                <option value="Not-For-Profit Corporation">Not-For-Profit Corporation</option>
                                                <option value="Overseas Incorporated Organisation">Overseas Incorporated Organisation</option>
                                                <option value="Partnership in England">Partnership in England</option>
                                                <option value="Other Type of Partnership">Other Type of Partnership</option>
                                                <option value="Sole Trader">Sole Trader</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row my-4">
                                    <div
                                        class="col-md-12 col-sm-12">
                                        <!-- Contact Message -->
                                        <div class="md-form">
                                            <label for="contactMessage">Message</label>
                                            <input type="textarea" name="contactMessage" id="contactMessage" class="form-control">
                                            <div class="form-check text-left mt-4">
                                                <input type="checkbox" class="form-check-input" id="contactTerms" name="contactTerms">
                                                <label class="form-check-label text-small" for="contactTerms" id="contactTerms-label">BiP Solutions owns Procurex and we look after your details carefully. We offer a range of products, services and events (some of which are free) that help buyers tender more efficiently and suppliers find, bid for and win public and private sector contracts. Only tick this box if you wish to receive information about these. We will never share your details with third parties and you will have the opportunity of opting out of communications every time we contact you. For further details, please see our
                                                    <a target="_blank" href="https://www.bipsolutions.com/privacy-policy/">Privacy Policy</a>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--reCAPTCHA-->
                                <div class="g-recaptcha" data-sitekey="6LcbNMcUAAAAACPlXQMYJDrbO1sJihN-WUEs4SsP" data-callback="enableSubmit"></div>

                                <!-- Sign up button -->
                                <button class="btn btn-primary btn-block my-4 waves-effect z-depth-0" type="submit">Send Message</button>

                                <div id="my-recaptcha-placeholder"></div>

                            </form>
                            <script src="https://js.stripe.com/v3/"></script>
                            <script>
                               /* function storeContact() {
                                    var form = jQuery('#contact-form');
                                    var url = '{{ site.url }}php/contact.php';
                                    console.log('submitting form');
                                    $.ajax({
                                        type: "POST", 
                                        url: url, 
                                        data: form.serialize(), // serializes the form's elements.
                                        success: function (response) {                                                
                                            location.href = '{{ site.url }}submitted';
                                        }
                                    }
                                );
                            }*/

                            $(document).ready(function(){
                                
                                var form_submitted = false;
                                $('#contact-form').on('submit', function(e){
                                e.preventDefault();

                                if((grecaptcha.getResponse().length != 0) && form_submitted == false){
                                    var form = jQuery('#contact-form');
                                    var url = '{{ site.url }}php/contact.php';
                                    var form_data = form.serialize();
                                    form_submitted = true;

                                    $.ajax({
                                        type: "POST", 
                                        url: url, 
                                        data: form_data,
                                            // serializes the form's elements.
                                        success: function (response) {                                                
                                            location.href = '{{ site.url }}submitted';

                                        }
                                    });
                                }


                                });
                          

                            });
                        
                            function enableSubmit(val) { 

                                $('#contact-form-submit').prop('disabled', false);

                            };

                        
                            </script>
                            <!-- Form -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# END FORM #}

    {% endblock %}
