{% extends "page.twig" %}

{% block content %}

    {# START SUCCESS #}

    <section id="success">
        <div class="row pt-5 pb-5 bg-custom">
            <div class="container">
                <div class="container-fluid">
                    <h1 style="text-center">Dashboard</h1>
                    <hr style="hr-title">
                    <form method="post">
                        <input type="submit" name="download" value="Download Registrants Data"/>
                    </form>
                    <br>
                    <form method="post">
                        <input type="submit" name="download-brochure" value="Download Sales Brochure Data"/>
                    </form>
                    <br>
                    <form method="post">
                        <input type="submit" name="contact-data" value="Download Contact Form Data"/>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <script>
         /*function passWord(event) {
            event.preventDefault();
        
            var testV = 1;
            var pass1 = prompt('Please Enter Your Password', ' ');
            while (testV < 3) {
                
                if (! pass1) {
                    history.go(-1);
                    var pass1 = prompt('Access Denied - Password Incorrect, Please Try Again.', 'Password');
                } else if (pass1.toLowerCase() == "exhibitions404") {
                    // window.open('protectpage.html');
                    return true;
                } else if (pass1.toLowerCase() !== "exhibitions404") {
                    prompt('Access Denied - Password Incorrect, Please Try Again.', 'Password');
                }
                testV += 1;
                event.preventDefault();
            }
            if ((pass1.toLowerCase() != "123") && (testV == 3)) 
            {
                return false;
                returnToPreviousPage();
            }
            else
            {
                console.log('password good');
                console.log(event.target.parentElement);
                event.target.parentElement.submit();
            }
                

        } */
    </script>

    {# END SUCCESS #}

{% endblock %}
