{% extends "base.twig" %}

{% block head %}{% endblock %}

{% block header_class %}
    bg-primary
{% endblock %}

{% block header_container_class %}
    container-fluid bg-primary d-flex justify-content-end align-items-center transparent-nav text-white
{% endblock %}

{% block navbar %}
    <!--Navbar Start-->
    <nav class="navbar navbar-expand-lg fixed-top navbar-custom sticky sticky-dark">
        <div class="container">
            <div
                class="text-white">
                <!-- Email -->
                <a href="mailto:exhibitions@procurexnational.co.uk" class="fb-ic">
                    <i class="fas fa-envelope white-text mr-4"></i>
                </a>
                <!-- Twitter -->
                <a href="https://twitter.com/procurexlive" class="tw-ic" target="_blank">
                    <i class="fab fa-twitter white-text mr-4"></i>
                </a>
                <!--Linkedin -->
                <a href="https://www.linkedin.com/company/procurexlive/" class="li-ic" target="_blank">
                    <i class="fab fa-linkedin-in white-text mr-4"></i>
                </a>
            </div>

            <!-- LOGO -->
            <a class="navbar-brand logo text-uppercase" href="./"><!--<img src="static/img/logo-light.png" class="logo-light" alt="" height="55">-->
                <!--<img src="static/img/logo-light.png" class="logo-dark" alt="" height="55">-->
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <i class="mdi mdi-menu"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                {% include "menu.twig" with {'items': menus.main.items} %}
            </div>

        </div>
    </nav>
    <!-- Navbar End -->
{% endblock %}

{% block hero %}
    <section class="section full_hero" style="background-image:url('static/img/background/bg-4.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <img class="prx-logo mt-4 animated zoomIn" src="static/img/logo-light.png" alt="logo" width="500"/>
                    <h1 class="font-weight-bold mt-4 mb-4">THE PROCUREMENT<br/>EVENT OF THE YEAR.<br>
                        <span class="txt-type" data-wait="3000" data-words='["INNOVATE.", "EDUCATE.", "COLLABORATE.", "CELEBRATE."]'></span>
                    </h1>
                    <hr class="animated zoomIn">
                    <h4 class="venue">22 APRIL 2020 - NEC BIRMINGHAM</h4>
                    <p>Procurex National brings together over 1500 key decision makers<br>
                        from across this vibrant £284bn public procurement marketplace.</p>
                </div>
                <div class="col-lg-4 d-none d-sm-none d-md-none d-lg-block">
                    <a href="{{site.url}}whats-on/key-features#contact-classic-orange" target="_blank"><img class="img-fluid d-block animated slideInRight" src="static/img/ccs.png" width="200"/></a>
                    <div class="mt-4 text-center" style="max-width: 200px;">
                        <small>Headline Sponsor</small>
                        <img class="mt-2 img-fluid d-block animated slideInRight" src="static/img/lyreco_white.png" width="200"/>
                    </div>
                    <img class="prx-x animated slideInRight" src="static/img/x-logo.png" width="400"/>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        {# START ABOUT #}
        <div class="container">
            <div class="row mt-5 mb-5">
                <div class="col-md-4">
                    <div class="about-container wow fadeIn pb-4">
                        <div class="about-testimonial">
                            <div id="carouselContent" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner" role="listbox">
                                    <div class="carousel-item active">
                                        <h6 class="font-weight-bold">"This is a great opportunity for us to get close to our suppliers and our customers and really learn from them. Procurex is a catalyst, undoubtedly."</h6>
                                        <p>Simon Tse, CEO, Crown Commercial Service</p>
                                    </div>
                                    <div class="carousel-item">
                                        <h6 class="font-weight-bold">"What I find makes Procurex different from other events is the mix. The stands, the suppliers, the forums and the training events – that mix makes it a very different event."</h6>
                                        <p>Malcolm Harrison, CEO, CIPS</p>
                                    </div>
                                    <div class="carousel-item">
                                        <h6 class="font-weight-bold">"Why we keep coming back to these events is the quality of the attendees. We’re speaking to council leaders, government ministers, heads of clinical commissioning groups – we can have conversations with decision makers."</h6>
                                        <p>Steve Shirley, Vice President, Public Sector & Ireland, Mastercard</p>
                                    </div>
                                    <div class="carousel-item">
                                        <h6 class="font-weight-bold">"It’s the breadth of the customers to an event like this… It gives us the chance to really connect with people on a lot of levels. It’s a really strong event for us."</h6>
                                        <p>Lesley Marshall, Head of Sales, Staples</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <img class="about-image" src="static/img/testimonial-img.jpg" style="height: 420px;"/>
                    </div>
                </div>
                <div class="col-md-4">
                    <img class="wow fadeIn pb-4 about-image" src="static/img/testimonial-img2.png"/>
                </div>
                <div class="col-md-4">
                    <h1 class="mt-5">Welcome</h1>
                    <hr class="animated zoomIn">
                    <p>Procurex National is one of the major highlights within the annual public procurement calendar, supporting innovation, education, collaboration and celebration over a single dedicated day.</p>
                    <!-- Button trigger modal -->
                    <a type="button" class="btn btn-primary video-btn mb-2" data-toggle="modal" data-src="https://player.vimeo.com/video/340619498?badge=0" data-target="#myModal">
                        Watch 2019 Highlights
                    </a>
                    <a href="{{site.url}}overview" class="btn btn-primary">Learn More</a>
                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">


                                <div class="modal-body">

                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <!-- 16:9 aspect ratio -->
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always" allow="autoplay"></iframe>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# END ABOUT #}

        {# START FEATURES #}

        <div class="row mt-5 pt-5 pb-5 bg-custom">
            <div class="container">
                <div class="container-fluid">
                    <h1 class="text-center">Visiting</h1>
                    <hr class="hr-title animated zoomIn">
                </div>
                <div class="row row-eq-height pt-5 pb-5 text-center">
                    <a href="{{site.url}}overview">
                        <div class="col-md-4 mb-4 wow fadeInRight">
                            <img src="static/img/icons/icon-1.png"/>
                            <h5 class="py-4 text-dark">Attending</h5>
                            <p class="text-dark">Meet, learn, network, engage, collaborate and celebrate</p>
                            <a class="btn btn-primary" href="{{site.url}}overview">Learn More</a>
                        </div>
                    </a>
                    <a href="{{site.url}}sponsoring-exhibiting">
                        <div class="col-md-4 mb-4 wow fadeInRight">
                            <img src="static/img/icons/icon-2.png"/>
                            <h5 class="py-4 text-dark">Sponsoring & Exhibiting</h5>
                            <p class="text-dark">Sell to the public sector marketplace, worth £284bn+ annually</p>
                            <a class="btn btn-primary" href="{{site.url}}sponsoring-exhibiting">Learn More</a>
                        </div>
                    </a>
                    <a href="{{site.url}}book-now">
                        <div class="col-md-4 mb-4 wow fadeInRight">
                            <img src="static/img/icons/icon-3.png"/>
                            <h5 class="py-4 text-dark">Book Now</h5>
                            <p class="text-dark">Build new relationships and meet peers and colleagues</p>
                            <a class="btn btn-primary" href="{{site.url}}book-now">Book Now</a>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        {# END FEATURES #}

       {% include "speakers.twig" %}



        {# START SPONSORS #}
        <div class="row pt-5 pb-5">
            <div class="container">
                <div class="container-fluid carousel_container_4_display">
                    <div id="sponsors_carousel"  class="carousel slide carousel_4_endless" {#data-ride="carousel"#}>
                        <h1 class="text-center">Event Sponsors</h1>
                        <hr class="hr-primary hr-title mb-5 animated zoomIn">

                        <div class="row justify-content-center">
                            <div class="col-md-3">
                                <div class="sponsors-container headline_sponsor">
                                    <img class="sponsor-img" src="{{site.url}}static/img/logos/lyreco_logo.png" alt="Card image cap">
                                </div>
                                <p class="text-center">Headline Sponsor</p>
                            </div>
                        </div>

                        <div class="carousel-inner row mb-2 pb-4 mx-auto">

                            <div class="carousel-item col-md-3 active">
                                <div class="sponsors-container gold">
                                    <img class="sponsor-img" src="{{site.url}}static/img/logos/sponsor1.jpg" alt="Card image cap">
                                </div>
                                <p class="text-center gold">Gold Sponsor</p>
                            </div>

                            <div class="carousel-item col-md-3">
                                <div class="sponsors-container gold">
                                    <img class="sponsor-img" src="{{site.url}}static/img/logos/Gemserv-Logo.png" alt="Card image cap">
                                </div>
                                <p class="text-center gold">Gold Sponsor</p>
                            </div>

                            <div class="carousel-item col-md-3">
                                <div class="sponsors-container gold">
                                    <img class="sponsor-img" src="{{site.url}}static/img/logos/sortimo_logo.png" alt="Card image cap">
                                </div>
                                <p class="text-center gold">Gold Sponsor</p>
                            </div>

                            <div class="carousel-item col-md-3">
                                <div class="sponsors-container">
                                    <img class="sponsor-img" src="{{site.url}}static/img/logos/sponsor2.png" alt="Card image cap">
                                </div>
                                <p class="text-center">Training Zone Sponsor</p>
                            </div>

                            <div class="carousel-item col-md-3">
                                <div class="sponsors-container">
                                    <img class="sponsor-img" src="{{site.url}}static/img/logos/sponsor3.webp" alt="Card image cap">
                                </div>
                               <p class="text-center">Registration Sponsor</p>
                            </div>

                            <div class="carousel-item col-md-3">
                                <div class="sponsors-container">
                                    <img class="sponsor-img" src="{{site.url}}static/img/logos/sponsor4.jpg" alt="Card image cap">
                                </div>
                               <p class="text-center">Lanyard Sponsor</p>
                            </div>

                            <div class="carousel-item col-md-3">
                                <div class="sponsors-container">
                                    <img class="sponsor-img" src="{{site.url}}static/img/logos/orbis.png" alt="Card image cap">
                                </div>
                                <p class="text-center gold">Silver Sponsor</p>
                            </div>

                            <div class="carousel-item col-md-3">
                                <div class="sponsors-container">
                                    <img class="sponsor-img" src="{{site.url}}static/img/logos/sponsor5.jpg" alt="Card image cap">
                                </div>
                               <p class="text-center">Event Corporate Sponsor</p>
                            </div>

                            <div class="carousel-item col-md-3">
                                <div class="sponsors-container">
                                    <img class="sponsor-img" src="{{site.url}}static/img/logos/sponsor6.png" alt="Card image cap">
                                </div>
                               <p class="text-center">Event Corporate Sponsor</p>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>{# END SPONSORS#}</div>




        {# START PARTNERS #}
        <div class="row mt-5 pt-5 pb-5 bg-gradient">
            {{ include('participant_gallery_include.twig', {participant_display_param: participant_display_param, participants: partners}) }}
        </div>
    </div>
</div>{# END PARTNERS #}</div>



{% endblock %}{# {% block footer %}
                    <!-- Footer -->
                    <footer class="page-footer font-small bg-dark text-white">
                    
                      <div class="bg-primary text-white">
                        <div class="container">
                    
                          <!-- Grid row-->
                          <div class="row py-4 d-flex align-items-center">
                    
                            <!-- Grid column -->
                            <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                              <h6 class="mb-0">Keep up to date with Procurex on social networks!</h6>
                            </div>
                            <!-- Grid column -->
                    
                            <!-- Grid column -->
                            <div class="col-md-6 col-lg-7 text-center text-md-right">
                    
                              <!-- Facebook -->
                              <a class="fb-ic">
                                <i class="fab fa-facebook-f white-text mr-4"> </i>
                              </a>
                              <!-- Twitter -->
                              <a class="tw-ic">
                                <i class="fab fa-twitter white-text mr-4"> </i>
                              </a>
                              <!-- Google +-->
                              <a class="gplus-ic">
                                <i class="fab fa-google-plus-g white-text mr-4"> </i>
                              </a>
                              <!--Linkedin -->
                              <a class="li-ic">
                                <i class="fab fa-linkedin-in white-text mr-4"> </i>
                              </a>
                              <!--Instagram-->
                              <a class="ins-ic">
                                <i class="fab fa-instagram white-text"> </i>
                              </a>
                    
                            </div>
                            <!-- Grid column -->
                    
                          </div>
                          <!-- Grid row-->
                    
                        </div>
                      </div>
                    
                      <!-- Footer Links -->
                      <div class="text-center text-md-left mt-5">
                    
                        <!-- Grid row -->
                        <div class="row mt-3">
                    
                          <!-- Grid column -->
                          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    
                            <!-- Content -->
                            <h6 class="text-uppercase font-weight-bold">Event Organiser</h6>
                            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                            <p>Procurex National is managed by BiP Solutions. For 35 years we have been part of public procurement’s
                              incredible success story</p>
                            <img src="{{theme.link}}/static/img/bip35logo.png" />
                          </div>
                          <!-- Grid column -->
                    
                          <!-- Grid column -->
                          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    
                            <!-- Links -->
                            <h6 class="text-uppercase font-weight-bold">About</h6>
                            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                            <p>
                              <a href="#!">Overview</a>
                            </p>
                            <p>
                              <a href="#!">Why Attend</a>
                            </p>
                            <p>
                              <a href="#!">What's On</a>
                            </p>
                            <p>
                              <a href="#!">Event Gallery</a>
                            </p>
                    
                          </div>
                          <!-- Grid column -->
                    
                          <!-- Grid column -->
                          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    
                            <!-- Links -->
                            <h6 class="text-uppercase font-weight-bold">Useful links</h6>
                            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                            <p>
                              <a href="#!">Attending</a>
                            </p>
                            <p>
                              <a href="#!">Sponsoring & Exhibiting</a>
                            </p>
                            <p>
                              <a href="#!">Contact Us</a>
                            </p>
                            <p>
                              <a href="#!">Help</a>
                            </p>
                    
                          </div>
                          <!-- Grid column -->
                    
                          <!-- Grid column -->
                          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    
                            <!-- Links -->
                            <h6 class="text-uppercase font-weight-bold">Contact</h6>
                            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                            <p>
                              <i class="fas fa-map-marker-alt mr-3"></i>22 April 2020 - NEC Birmingham</p>
                            <p>
                              <i class="fas fa-envelope mr-3"></i>exhibitions@procurexnational.co.uk</p>
                            <p>
                              <i class="fas fa-phone mr-3"></i>0845 270 7066</p>
                    
                          </div>
                          <!-- Grid column -->
                    
                        </div>
                        <!-- Grid row -->
                    
                      </div>
                      <!-- Footer Links -->
                    
                      <!-- Copyright -->
                      <div class="footer-copyright text-center py-3 bg-secondary">Copyright Proxurex National {{"now"|date('Y')}} |
                        <a href="https://bipsolutions.com">Powered By bipsolutions.com</a>
                      </div>
                      <!-- Copyright -->
                    
                    </footer>
                    <!-- Footer -->
                    {% endblock %} #}
