{% extends "page.twig" %}

{% block content %}

    <section id="key-features">
        <div class="row pt-5 pb-5 bg-gradient2 text-primary">
            <div class="container">
                <div class="container-fluid">
                    <h1 class="text-center">Key Features</h1>
                    <hr
                    class="hr-title hr-primary animated zoomIn mb-5">
                    <!-- Classic tabs -->
                    <div class="classic-tabs mx-2">

                        <ul class="nav text-center tabs-orange" id="myClassicTabOrange" role="tablist">
                            <li class="col-lg-3 col-12 nav-item">
                                <a class="nav-link  waves-light active show p-4" style="color:#951b81; font-size: 30px; border-bottom: 4px solid; min-height: 150px; display: flex; align-items: center; justify-content: center;" id="profile-tab-classic-orange" data-toggle="tab" href="#profile-classic-orange" role="tab" aria-controls="profile-classic-orange" aria-selected="true">
                                    <img src="{{site.url}}static/img/logos/PXN20.2LiveStages.header.png" alt="CCS" class="img-fluid"></a>
                            </li>
                            <li class="col-lg-3 col-12 nav-item">
                                <a class="nav-link waves-light p-4" style="color:#951b81; font-size: 30px; border-bottom: 4px solid; min-height: 150px; display: flex; align-items: center; justify-content: center;" id="follow-tab-classic-orange" data-toggle="tab" href="#follow-classic-orange" role="tab" aria-controls="follow-classic-orange" aria-selected="false">
                                    <img src="{{site.url}}static/img/logos/PXN20.4AcademyZones.header.png" alt="CCS" class="img-fluid"></a>
                            </li>
                            <li class="col-lg-3 col-12 nav-item">
                                <a class="nav-link waves-light p-4" style="color:#951b81; font-size: 30px; border-bottom: 4px solid; min-height: 150px; display: flex; align-items: center; justify-content: center;" id="contact-tab-classic-orange" data-toggle="tab" href="#contact-classic-orange" role="tab" aria-controls="contact-classic-orange" aria-selected="false">
                                    <img src="{{site.url}}static/img/logos/PXN20.3NetworkingZones.header.png" alt="CCS" class="img-fluid"></a>
                            </li>

                            <li class="col-lg-3 col-12 nav-item">
                                <a class="nav-link waves-light p-4" style="color:#951b81; font-size: 30px; border-bottom: 4px solid; min-height: 150px; display: flex; align-items: center; justify-content: center;" id="awards-tab-classic-orange" data-toggle="tab" href="#awards-classic-orange" role="tab" aria-controls="awesome-classic-orange" aria-selected="false">
                                    <img style="height: 98px;" src="{{site.url}}static/img/logos/GON20_logo.png" alt="" class="img-fluid"></a>
                            </li>
                        </ul>

                        <div class="tab-content card" id="myClassicTabContentOrange">
                            <div class="tab-pane fade active show" id="profile-classic-orange" role="tabpanel" aria-labelledby="profile-tab-classic-orange">
                                <h5>Live Stages</h5>
                                <p>Procurex National will feature two Live Stages bringing together policy makers and thought leaders to present their views on the current and future landscape of public sector procurement within the UK.</p>

                                <p>Hear from leading experts who will discuss the latest policies which impact on the roles of purchasing and commissioning staff within the public sector.</p>

                                <div class="row text-center my-2">
                                    <div class="col-md-1">
                                    </div>
                                    <div class="col-sm-1 col-md-5 px-5 py-2 liveStageBG">
                                        <a href="{{site.url}}whats-on/themes#profile-classic-orange">
                                            <img class="img-fluid" src="{{site.url}}static/img/Public-Sector-Solutions-Live-logo.png">
                                        </a>
                                    </div>
                                    <div class="col-sm-1 col-md-5 px-5 py-2 liveStageBG">
                                        <a href="{{site.url}}whats-on/themes#follow-classic-orange">
                                            <!--<i class="fas fa-link fa-3x pb-2" aria-hidden="true"></i>
                                            <h5>Supply Chain & Risk Management Live Stage</h5>-->
                                            <img class="supplyChainLogo" src="{{site.url}}static/img/SupplyChainRiskManagement.png">
                                        </a>
                                    </div>
                                    <div class="col-md-1">
                                    </div>
                                </div>

                                <a style="background-color:#6f42c1;" href="{{site.url}}book-now" class="btn btn-primary my-2">Book Now</a>
                            </div>
                            <div class="tab-pane fade" id="follow-classic-orange" role="tabpanel" aria-labelledby="follow-tab-classic-orange">

                                <h5>Academy Zones</h5>
                                <div class="row text-center my-5">
                                    <div class="col-sm-1 col-md-3 liveStageBG">
                                        <a style="color:#0ea200;" href="{{site.url}}whats-on/themes#contact-classic-orange">
                                            <i aria-hidden="true" class="fas fa-atom fa-3x pb-2"></i>
                                            <h5>Technology & Digital</h5>
                                        </a>
                                    </div>
                                    <div class="col-sm-1 col-md-3 liveStageBG">
                                        <a style="color:#ff6300;" href="{{site.url}}whats-on/themes#awesome-classic-orange">
                                            <i class="fas fa-users fa-3x pb-2" aria-hidden="true"></i>
                                            <h5>Social Value</h5>
                                        </a>
                                    </div>
                                    <div class="col-sm-1 col-md-3 liveStageBG">
                                        <a style="color:#ff00e6;" href="{{site.url}}whats-on/themes#awards-classic-orange">
                                            <i class="fas fa-briefcase fa-3x pb-2" aria-hidden="true"></i>
                                            <h5>Procurement Skills</h5>
                                        </a>
                                    </div>
                                    <div class="col-sm-1 col-md-3 liveStageBG">
                                        <a style="color:#05f;" href="{{site.url}}whats-on/themes#bid-classic-orange">
                                            <i class="fas fa-life-ring fa-3x pb-2" aria-hidden="true"></i>
                                            <h5>Bid Support Zone</h5>
                                        </a>
                                    </div>
                                </div>
                                <p>A series of themed procurement-related zones covering some key issues and current high-profile topics, all of which are CPD certified.</p>
                                <p>Attending the sessions in the Academy Zones at Procurex will allow you to further your career development opportunities by upskilling in key areas of public sector procurement. These interactive zones will offer a one stop shop for anyone looking to improve their knowledge of procurement. Sessions are free to attend, and ALL sessions are CPD certified and count towards CIPS Chartered Status.</p>
                                <p>Procurex National Academy Zones will feature sessions covering the key themes of the overall event:</p>

                                <a style="background-color:#6f42c1;" href="{{site.url}}book-now" class="btn btn-primary my-2">Book Now</a>
                            </div>
                            <div
                                class="tab-pane fade" id="contact-classic-orange" role="tabpanel" aria-labelledby="contact-tab-classic-orange">

                            <div class="container">
                                    <div class="row py-3">
                                        <div class="col-12 col-md-3 order-1" id="sticky-sidebar">
                                            <div class="sticky-top">
                                                <ul style="list-style-type:none; padding:0;">
                                                <a class="anchorText" href="#1"><li class="anchor">Crown Commercial Service Art of Procurement</li></a>
                                                <a class="anchorText" href="#2"><li class="anchor">Product Showcase Exhibition</li></a>
                                                <a class="anchorText" href="#3"><li class="anchor">Procurement Support &AMP; Insight Zone</li></a>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="col" id="main">

                                            <!-- SECTION 1-->
                                            <span id="1"></span>
                                            <div class="col-md-12">
                                                <h2 class="font-weight-bold mb-3 text-new">Crown Commercial Service Art of Procurement</h2>
                                                <p>As an official event partner for Procurex National 2020, the Crown Commercial Service (CCS) will be hosting an experiential gallery installation which will help delegates visualise and understand the various facets of public sector procurement.</p>
                                                
                                                <p>There will be an opportunity for visitors to ‘Meet the Artists’ who will be on hand throughout the day to provide a range of procurement advice and support services, designed around the many valued added benefits that CCS can provide to both the public and private sector.</p>

                                                <p>CCS will also be participating across several skills development zones, where attendees will be able to participate within a range of educational sessions including topical subjects such as modern slavery, social value, procurement 101 and the digital buying community.</p>

                                                <p>Simon Tse, Chief Executive of the Crown Commercial Service, will also be providing a keynote address within the Public Sector Solutions Live Stage.</p>
                                            
                                                <p><strong>“This event continues to be one of the great showcases for the innovations now driving the transformation of our public services” – Simon Tse, Chief Executive, Crown Commercial Service</strong></p>
                                                
                                                <p>Check back soon for further updates</p>
                                            </div>
                                            <div class="col-md-12 mt-3 pt-2">
                                                <div class="view z-depth-1">
                                                    <img width="200px" src="{{site.url}}static/img/ccs-2.png" alt="OGP-Pavilion" class="img-fluid">
                                                </div>
                                            </div>

                                            <!-- SECTION 2-->
                                            <span id="2" class="mt-4"></span>
                                            <div class="col-md-12 my-4">
                                                <h2 style="margin-top: 100px;" class="font-weight-bold mb-3 text-new">Product Showcase</h2>
                                                <p>The Procurex National 2020 Product Showcase offers visitors the chance to meet with innovative suppliers looking to work with the local government sector, allowing you the chance to look at approaches your organisation could take to achieve your efficiency savings. Sectors exhibiting at this event include central government, local authorities, health, education and much more.</p>
                                                <p>Discover exciting new products, innovative services and efficient and adaptable suppliers</p>
                                                <ul>
                                                    <li>Discover new technologies to help you save time</li>
                                                    <li>Develop new partnerships</li>
                                                    <li>Network with cutting-edge solutions providers</li>
                                                </ul>
                                                <p>Suppliers interested in sponsoring or exhibiting should contact us by phone on 0845 270 7066 or email
                                                    <a href="mailto:exhibitions@procurexational.co.uk">exhibitions@procurexational.co.uk</a>
                                                </p>
                                            </div>
                                            <div class="col-md-12 mt-3 pt-2">
                                                <div class="view z-depth-1">
                                                    <img src="{{site.url}}static/img/product-showcase.jpg" alt="product-showcase" class="img-fluid">
                                                </div>
                                            </div>

                                            <!-- SECTION 3-->
                                            <span id="3" class="mt-4"></span>
                                            <div class="col-md-12 my-4">
                                                <h2 style="margin-top: 100px;" class="font-weight-bold mb-3 text-new">Market Support &amp; Engagement Zone</h2>
                                                <p>Come and relax at the Market Support & Engagement Zone lounge.</p>

                                                <p>Chat to our teams about how we can help you engage earlier with buyers and make sure you aren’t missing a single relevant opportunity with the public sector. We are here to help you take the next steps on your procurement journey!</p>

                                                <p>Our consultative approach will help you understand your organisation’s challenges and identify how ready your business is to work with the public sector. We can also advise you on how you can best find relevant opportunities. If you are already winning business but want to grow your share of the public spend or upskill yourself and/or your teams with training and consultancy, our Procurement experts can support your journey.</p>

                                            </div>
                                            <div class="col-md-12 mt-3 pt-2">
                                                <div class="view z-depth-1">
                                                    <img src="{{site.url}}static/img/marketing-engagement.jpg" alt="product-showcase" class="img-fluid">
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <a href="{{site.url}}book-now" class="btn btn-primary my-2">Book Now</a>
                                </div>









                                <!--Accordion wrapper-->
                                <!--<div class="accordion md-accordion accordion-1" id="accordionEx23" role="tablist">
                                    <div class="card">
                                        <div class="card-header blue lighten-3 z-depth-1" role="tab" id="heading96">
                                            <h5 class="text-uppercase mb-0 py-1">
                                                <a class="collapsed white-text font-weight-bold" data-toggle="collapse" href="#collapse96" aria-expanded="false" aria-controls="collapse96" id="accordion1">
                                                    
                                                    Crown Commercial Service Art of Procurement
                                                </a>
                                            </h5>
                                        </div>
                                        
                                        <div id="collapse96" role="tabpanel" aria-labelledby="heading96" data-parent="#accordionEx23">
                                            <div class="card-body">
                                                <div class="row my-4">
                                                    <div class="col-md-8">
                                                        <h2 class="font-weight-bold mb-3 black-text">Crown Commercial Service Art of Procurement</h2>
                                                        <p>As an official event partner for Procurex National 2020, the Crown Commercial Service (CCS) will be hosting an experiential gallery installation which will help delegates visualise and understand the various facets of public sector procurement.</p>

                                                        <p>There will be an opportunity for visitors to ‘Meet the Artists’ who will be on hand throughout the day to provide a range of procurement advice and support services, designed around the many valued added benefits that CCS can provide to both the public and private sector.</p>

                                                        <p>CCS will also be participating across several skills development zones, where attendees will be able to participate within a range of educational sessions including topical subjects such as modern slavery, social value, procurement 101 and the digital buying community.</p>

                                                        <p>Simon Tse, Chief Executive of the Crown Commercial Service, will also be providing a keynote address within the Public Sector Solutions Live Stage.</p>

                                                        <h6 class="font-weight-bold">“This event continues to be one of the great showcases for the innovations now driving the transformation of our public services” – Simon Tse, Chief Executive, Crown Commercial Service</h6>

                                                        <p>Check back soon for further updates</p>
                                                    </div>
                                                    <div class="col-md-4 mt-3 pt-2">
                                                        <div class="view z-depth-1">
                                                            <img src="{{site.url}}static/img/ccs-2.png" alt="CCS" class="img-fluid">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header blue lighten-3 z-depth-1" role="tab" id="heading97">
                                            <h5 class="text-uppercase mb-0 py-1">
                                                <a class="collapsed font-weight-bold white-text" data-toggle="collapse" href="#collapse97" aria-expanded="false" aria-controls="collapse97" id="accordion2">
                                                    Product Showcase
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse97" class="collapse" role="tabpanel" aria-labelledby="heading97" data-parent="#accordionEx23">
                                            <div class="card-body">
                                                <div class="row my-4">
                                                    <div class="col-md-8">
                                                        <h2 class="font-weight-bold mb-3 black-text">Product Showcase</h2>
                                                        <p>The Procurex National 2020 Product Showcase offers visitors the chance to meet with innovative suppliers looking to work with the local government sector, allowing you the chance to look at approaches your organisation could take to achieve your efficiency savings. Sectors exhibiting at this event include central government, local authorities, health, education and much more.</p>
                                                        <p>Discover exciting new products, innovative services and efficient and adaptable suppliers</p>
                                                        <ul>
                                                            <li>Discover new technologies to help you save time</li>
                                                            <li>Develop new partnerships</li>
                                                            <li>Network with cutting-edge solutions providers</li>
                                                        </ul>
                                                        <p>Suppliers interested in sponsoring or exhibiting should contact us by phone on 0845 270 7066 or email
                                                            <a href="mailto:exhibitions@procurexational.co.uk">exhibitions@procurexational.co.uk</a>
                                                        </p>
                                                    </div>
                                                    <div class="col-md-4 mt-3 pt-2">
                                                        <div class="view z-depth-1">
                                                            <img src="{{site.url}}static/img/product-showcase.jpg" alt="product-showcase" class="img-fluid">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header blue lighten-3 z-depth-1" role="tab" id="heading98">
                                            <h5 class="text-uppercase mb-0 py-1">
                                                <a class="collapsed font-weight-bold white-text" data-toggle="collapse" href="#collapse98" aria-expanded="false" aria-controls="collapse98" id="accordion3">

                                                    Market Support & Engagement Zone
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse98" class="collapse" role="tabpanel" aria-labelledby="heading98" data-parent="#accordionEx23">
                                            <div class="card-body">
                                                <div class="row my-4">
                                                    <div class="col-md-8">
                                                        <h2 class="font-weight-bold mb-3 black-text">Market Support & Engagement Zone</h2>
                                                        <p>Come and relax at the Market Support & Engagement Zone lounge.</p>

                                                        <p>Chat to our teams about how we can help you engage earlier with buyers and make sure you aren’t missing a single relevant opportunity with the public sector. We are here to help you take the next steps on your procurement journey!</p>

                                                        <p>Our consultative approach will help you understand your organisation’s challenges and identify how ready your business is to work with the public sector. We can also advise you on how you can best find relevant opportunities. If you are already winning business but want to grow your share of the public spend or upskill yourself and/or your teams with training and consultancy, our Procurement experts can support your journey.</p>
                                                    </div>
                                                    <div class="col-md-4 mt-3 pt-2">
                                                        <div class="view z-depth-1">
                                                            <img src="{{site.url}}static/img/marketing-engagement.jpg" alt="" class="img-fluid">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                

                                -->

                                
                            </div>
                            <div class="tab-pane fade" id="awards-classic-orange" role="tabpanel" aria-labelledby="awards-tab-classic-orange">
                                <h5>UK National GO Awards</h5>
                                <div class="row my-4">
                                    <div class="col-md-8 pt-2">
                                        <p>The countdown is now on to this year’s UK National Government Opportunities (GO) Excellence in Public Procurement Awards 2020/2021.</p>

                                        <p>Taking place on the evening of Procurex National 2020, the UK National GO Awards 2020/21 will be held at the Hilton Birmingham Metropole on 22 April 2020.</p>

                                        <p>Whether you are a supplier to or a buyer for the public sector, the Awards are a fantastic opportunity to celebrate procurement excellence, gain best practice insight and meet fellow procurement professionals at the networking opportunity of the year. As the networking opportunity of the year, the GO Awards are the glittering climax to the UK’s day of procurement and see over 500 delegates from the UK public procurement community go head to head to win a coveted UK National GO Award.</p>
                                        <a style="background-color:#6f42c1;" href="https://www.goawards.co.uk/national/" class="btn btn-primary my-2">Learn More</a>
                                    </div>
                                    <div class="col-md-4 pt-2">
                                        <div class="view z-depth-1">
                                            <img src="{{site.url}}static/img/logos/GON20_logo.png" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- Classic tabs -->
                </div>
            </div>
        </div>

    </section>

    {% include "speakers.twig" %}

{% endblock %}
