{% extends "page.twig" %}

{% block content %}

    {# START BOOK NOW #}

    <section id="note-for-exhibitors">
        <div class="row pt-5 pb-5 bg-image text-white">
            <div class="container">
                <div class="container-fluid">
                    <h1>SPAM EMAILS</h1>
                    <hr class="mb-5 animated zoomIn" style="width:300px;">
                    <p>Some of our exhibitors have been fraudulently targeted by emails offering the full delegate list relating to this event.  Please note these are spam emails, and do not originate from BiP Solutions or any organisation associated with the event.  We do NOT sell data to any third parties and we would not allow anyone to contact you offering such a service.  These emails are not genuine, please do not reply. We have contacted these organisations and asked them to desist, however if you do receive such an email please advise us as soon as possible by emailing your Account Manager.</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
