{% extends "page.twig" %}

{% block content %}

    {# START OVERVIEW #}

    <section id="overview">
        <div class="row pt-5 pb-5 bg-gradient text-white">
            <div class="container">
                <div class="container-fluid text-center wow fadeInRight">
                    <h1 class="text-center">Overview</h1>
                    <hr class="hr-white hr-title mb-5 animated zoomIn">
                    <p>Procurex National brings together key decision makers and market-leading suppliers who contribute to the ongoing delivery and strategic development of public sector procurement.</p>
                    <p>Incorporating the Crown Commercial Service ‘Art of Procurement’ Showcase, and Public Sector Solutions Live, Procurex National provides both buyers and suppliers with an unparalleled opportunity to enhance their knowledge and skills, in addition to sharing best practice through the extensive networking and collaboration opportunities available.</p>
                    <img class="animated zoomIn" src="{{site.url}}static/img/x-logo.png" width="200"/>
                </div>
            </div>
        </div>
    </section>
    {# END OVERVIEW #}

    {# START ATTEND #}

    <section id="why-attend">
        <div class="row mt-5 pt-5 pb-5 bg-custom">
            <div class="container">
                <div class="row container-fluid">
                    <div class="col-md-5 wow fadeInRight">
                        <h1>Why Attend</h1>
                        <hr class="animated zoomIn" style="width:315px;">
                        <p>An ongoing theme in today’s public sector marketplace is the need to realise improved value for money through ‘smarter’ procurement. Procurex National 2020 is designed specifically to help both buyer and supplier communities to meet the efficiency challenges of today and tomorrow, in addition to enhancing overall skills and capabilities.</p>
                        <a href="{{site.url}}book-now" class="btn btn-primary mb-4">Book Now</a>
                        <a href="{{site.url}}static/pdf/sales-brochure.pdf" class="btn btn-primary mb-4">Download Brochure</a>
                    </div>
                    <div class="col-md-7 wow fadeInRight">
                        <img class="img-fluid" src="{{site.url}}static/img/conference.png"/>
                    </div>
                </div>
                <div class="row row-eq-height pt-5 pb-5 text-center">
                    <div class="col-md-3 wow fadeInRight mt-4">
                        <i class="fas fa-microphone fa-7x pb-2 text-primary" aria-hidden="true"></i>
                        <h6 class="font-weight-bold py-4" style="height:90px;">2 Live Stages</h6>
                        <a href="{{site.url}}whats-on/key-features" class="btn btn-primary">Learn More</a>

                    </div>
                    <div class="col-md-3 wow fadeInRight mt-4">
                        <i class="fas fa-graduation-cap fa-7x pb-2" aria-hidden="true"></i>
                        <h6 class="font-weight-bold py-4" style="height:90px;">4 Academy Zones</h6>
                        <a href="{{site.url}}whats-on/key-features#follow-classic-orange" class="btn btn-primary">Learn More</a>
                    </div>
                    <div class="col-md-3 wow fadeInRight mt-4">
                        <i class="fas fa-comments fa-7x pb-2 text-primary" aria-hidden="true"></i>
                        <h6 class="font-weight-bold py-4" style="height:90px;">3 Networking & Collaboration Zones</h6>
                        <a href="{{site.url}}whats-on/key-features#contact-classic-orange" class="btn btn-primary">Learn More</a>
                    </div>
                    <div class="col-md-3 wow fadeInRight mt-4">
                        <i class="fas fa-star fa-7x pb-2" aria-hidden="true"></i>
                        <h6 class="font-weight-bold py-4" style="height:90px;">1 UK National GO Awards</h6>
                        <a href="{{site.url}}whats-on/key-features#awards-classic-orange" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# END ATTEND #}

    <div class="row mt-5 pt-5 pb-5 bg-gradient">
        <div class="container">
            <div class="row text-white text-center">
                <div class="col-sm-12 wow fadeInRight">
                    <h3>Interested in Sponsoring or Exhibiting at Procurex 2020?</h3>
                    <a class="btn btn-white" href="{{site.url}}contact">Contact Us</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row pt-5 pb-5">
        <div class="container">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 wow fadeInRight">
                        <h2>
                            <span class="text-primary">Public</span>
                            Sector
                            <a href="{{site.url}}book-now" class="btn btn-primary">Book Now</a>
                        </h2>
                        <p>Free to attend for the public sector, Procurex National provides a unique platform for networking, collaboration, education and innovation.</p>
                        <p>Procurex National provides buyers engaged across the public procurement marketplace with an invaluable opportunity to learn and network on a single day in order to support both current and future procurement requirements.</p>
                        <p>Officially supported by the Chartered Institute of Procurement & Supply (CIPS) and the Procurement Advice and Support Service (PASS), Procurex National provides a unique platform for buyers to enhance their commercial skills through a range of CPD Certified training sessions, all of which are designed to support the personal development of procurement skills and capabilities</p>
                    </div>
                    <div class="col-sm-6 wow fadeInRight">
                        <h2>
                            <span class="text-primary">Private</span>
                            Sector
                            <a href="{{site.url}}book-now" class="btn btn-primary">Book Now</a>
                        </h2>
                        <p>Government across the UK is open for business and is seeking to work with organisations of all shapes and sizes.</p>
                        <p>Small and medium-sized enterprises (SMEs) are the lifeblood of the economy and becoming a government supplier is a great way to make a positive difference to your business. Such companies report an increase in their turnover, higher profits and an expansion of their workforce.</p>
                        <p>This event is for both framework holders and non-framework suppliers; providing a rare opportunity to showcase innovation and demonstrate goods and services that are directly aligned to supporting the requirements of today’s public sector marketplace across the whole of the UK.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>

    {# START EVENT THEMES #}

    <section id="themes">
        <div class="row pt-5 pb-5">
            <div class="container">
                <h1 class="text-center">Event Themes</h1>
                <hr class="animated zoomIn mb-5" style="width:315px;margin:0 auto;">
                <div class="row">
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-12 col-md-4">
                                        <div class="card card-bg mb-2">
                                            <img class="card-img-top" src="{{site.url}}static/img/cards/card-6.jpg" alt="Card image cap">
                                            <div class="card-body">
                                                <!--<div class="text-center">
                                                    <span style="color:#ff0000;"><i class="fas fa-people-carry fa-2x pb-2 text-center" aria-hidden="true"></i></span>
                                                </div>-->
                                                <h4 class="card-title font-weight-bold text-center" style="color:#ff0000;">
                                                    Public Sector Solutions</h4>
                                                <div class="text-center">
                                                    <a class="btn btn-primary btn-md btn-rounded" style="background:#ff0000;" href="{{site.url}}whats-on/themes">Learn More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <div class="card card-bg mb-2">
                                            <img class="card-img-top" src="{{site.url}}static/img/cards/card-4.jpg" alt="Card image cap">
                                            <div class="card-body">
                                                <!--<div class="text-center">
                                                    <i class="fas fa-link fa-2x pb-2 text-primary text-center" aria-hidden="true"></i>
                                                </div>-->
                                                <h4 class="card-title font-weight-bold text-center" style="color:#6f42c1;">Supply Chain & Risk Management</h4>
                                                <div class="text-center">
                                                    <a class="btn btn-primary btn-md btn-rounded" href="{{site.url}}whats-on/themes#follow-classic-orange">Learn More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <div class="card card-bg mb-2">
                                            <img class="card-img-top" src="{{site.url}}static/img/cards/card-5.jpg" alt="Card image cap">
                                            <div class="card-body">
                                                <!--<div class="text-center">
                                                    <span style="color:#0ea200;"><i class="fas fa-atom fa-2x pb-2 text-center" aria-hidden="true"></i></span>
                                                </div>-->
                                                <h4 class="card-title font-weight-bold text-center" style="color:#0ea200; min-height: 67px;">Technology & Digital</h4>
                                                <div class="text-center">
                                                    <a class="btn btn-primary btn-md btn-rounded" style="background:#0ea200;" href="{{site.url}}whats-on/themes#contact-classic-orange">Learn More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-12 col-md-4">
                                        <div class="card card-bg mb-2">
                                            <img class="card-img-top" src="{{site.url}}static/img/cards/card-2.jpg" alt="Card image cap">
                                            <div class="card-body">
                                                <!--<div class="text-center">
                                                    <span style="color:#ff6300;"><i class="fas fa-users fa-2x pb-2 text-center" aria-hidden="true"></i></span>
                                                </div>-->
                                                <h4 class="card-title font-weight-bold text-center" style="color:#ff6300; min-height: 67px;">Social Value</h4>
                                                <div class="text-center">
                                                    <a class="btn btn-primary btn-md btn-rounded" style="background:#ff6300;" href="{{site.url}}whats-on/themes#awesome-classic-orange">Learn More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <div class="card card-bg mb-2">
                                            <img class="card-img-top" src="{{site.url}}static/img/cards/card-3.jpg" alt="Card image cap">
                                            <div class="card-body">
                                                <!--<div class="text-center">
                                                    <span style="color:#ff00e6;"><i class="fas fa-briefcase fa-2x pb-2 text-center" aria-hidden="true"></i></span>
                                                </div>-->
                                                <h4 class="card-title font-weight-bold text-center" style="color:#ff00e6; min-height: 67px;">Procurement Skills</h4>
                                                <div class="text-center">
                                                    <a class="btn btn-primary btn-md btn-rounded" style="background:#ff00e6;" href="{{site.url}}whats-on/themes#awards-classic-orange">Learn More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <div class="card card-bg mb-2">
                                            <img class="card-img-top" src="{{site.url}}static/img/cards/card-1.jpg" alt="Card image cap">
                                            <div class="card-body">
                                                <!--<div class="text-center">
                                                     <span style="color:#05f;"><i class="fas fa-life-ring fa-2x pb-2 text-center" aria-hidden="true"></i></span>
                                                </div>-->
                                                <h4 class="card-title font-weight-bold text-center" style="color:#05f; min-height: 67px;">Art of Procurement</h4>
                                                <div class="text-center">
                                                    <a class="btn btn-primary btn-md btn-rounded" style="background:#05f;" href="{{site.url}}whats-on/key-features#bid-classic-orange">Learn More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# END EVENT THEME #}

    {# START PARTNERS #}
    <section id="event-partners">
        <div class="row mt-5 pt-5 pb-5 bg-gradient">
            {{ include('participant_gallery_include.twig', {participant_display_param: participant_display_param, participants: partners}) }}
        </div>
    </div>
</div></div>{# END PARTNERS #}{# START VENUE TIMES #}<section id="venue-times">
<div class="row mt-5 pt-5 pb-5 bg-custom">
    <div class="container">
        <div class="container-fluid wow fadeInRight">
            <h1 class="text-center">Venue & Times</h1>
            <hr class="hr-title mb-5 animated zoomIn">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <img class=" img-fluid" src="{{site.url}}static/img/venue.jpg" alt="venue">
                    <p class="pt-5 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">You’ll find us clearly signposted from all motorways and major routes including the M42, M40 and M6 - just pop B40 1NT in your sat nav. When you arrive at the NEC don’t follow your satnav anymore, look out for the show name you're visiting on our signs.</p>
                </div><br>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <p class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;"></p>
                    <table>
                        <tbody>
                            <tr>
                                <td class="title-cell" style="width: 40%;">
                                    <i class="fas fa-business-time"></i>
                                    Opening Times</td>
                                <td>08:30 – 16:00</td>
                            </tr>
                            <tr>
                                <td class="title-cell">
                                    <i class="fas fa-plane-arrival"></i>
                                    By Air</td>
                                <td>Located onsite at Birmingham Airport</td>
                            </tr>
                            <tr>
                                <td class="title-cell">
                                    <i class="fas fa-hotel"></i>
                                    Accommodation</td>
                                <td>2500 hotel bedrooms within a 10-mile radius</td>
                            </tr>
                            <tr>
                                <td class="title-cell">
                                    <i class="fas fa-car"></i>
                                    By Car</td>
                                <td>Near junction 6 of the M42 motorway</td>
                            </tr>
                            <tr>
                                <td class="title-cell">
                                    <i class="fas fa-subway"></i>
                                    By Train</td>
                                <td>Birmingham International Railway Station is a 5 minute walk from the NEC</td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                        <a class="btn btn-primary mt-4" href="https://www.thenec.co.uk/visitors/getting-here/" target="_blank">Get Directions</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    {# END VENUE TIMES #}
    {# START VENUE TIMES #}

    <section id="procurex-2019-review">

        <div class="row pt-5 pb-5">
            <div class="container">
                <div class="container-fluid wow fadeInRight">
                    <h1 class="text-center">2019 Highlights</h1>
                    <hr
                    class="hr-title mb-5 animated zoomIn">

                    <!--Carousel Wrapper-->
                    <div
                        id="carousel-thumb" class="carousel slide carousel-fade carousel-thumbnails" data-ride="carousel">
                        <!--Slides-->
                        <div class="carousel-inner" role="listbox" style="height: 75vh;">
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="{{site.url}}static/img/cards/card-1.jpg" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="{{site.url}}static/img/cards/card-2.jpg" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="{{site.url}}static/img/cards/card-3.jpg" alt="Third slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="{{site.url}}static/img/cards/card-4.jpg" alt="Third slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="{{site.url}}static/img/cards/card-5.jpg" alt="Third slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="{{site.url}}static/img/cards/card-6.jpg" alt="Third slide">
                            </div>
                        </div>
                        <!--/.Slides-->
                        <!--Controls-->
                        <a class="carousel-control-prev" href="#carousel-thumb" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carousel-thumb" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                        <!--/.Controls-->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-thumb" data-slide-to="0" class="active">
                                <img src="{{site.url}}static/img/cards/card-1.jpg" width="100">
                            </li>
                            <li data-target="#carousel-thumb" data-slide-to="1">
                                <img src="{{site.url}}static/img/cards/card-2.jpg" width="100">
                            </li>
                            <li data-target="#carousel-thumb" data-slide-to="2">
                                <img src="{{site.url}}static/img/cards/card-3.jpg" width="100">
                            </li>
                            <li data-target="#carousel-thumb" data-slide-to="3">
                                <img src="{{site.url}}static/img/cards/card-4.jpg" width="100">
                            </li>
                            <li data-target="#carousel-thumb" data-slide-to="4">
                                <img src="{{site.url}}static/img/cards/card-5.jpg" width="100">
                            </li>
                            <li data-target="#carousel-thumb" data-slide-to="5">
                                <img src="{{site.url}}static/img/cards/card-6.jpg" width="100">
                            </li>
                        </ol>
                    </div>
                    <!--/.Carousel Wrapper-->

                    {# <div class="card">
                                                                                        <img class="card-img-top" src="{{site.url}}static/img/cards/card-3.jpg" alt="Card image cap">
                                                                                    </div> #}

                </div>
            </div>
        </div>
    </section>
    {# END VENUE TIMES #}
{% endblock %}
