{% extends "base.twig" %}

{% block hero %}
    <section class="app-home hero" id="home" style="background-image:url('{{site.url}}static/img/background/{% block hero_image %}bg-1.jpg{% endblock %}');">
        <div class="home-center">
            <div class="home-desc-center">
                <div class="container">
                    <div class="row vertical-content wow fadeInRight">
                        <div class="col-12 ml-0 mr-auto">
                            <div class="App-home-content mt-4">
                            {% block hero_content %}
                                <h4 class="app-home-sub-title line-height_1_4">{{hero_content}}{{event.tagline}}</h4>
                                <h6><i class="fas fa-map-marker-alt"></i>
                                {{event.date}}
                                {{event.venue}}</p></h6>

                                {% if site.slug == 'book-now' %}

                                {% elseif site.slug == 'index' %}

                                    <a href="{{site.url}}contact" class="btn btn-primary">Contact Us</a>
                                   
                                {% else  %}

                                    <a href="{{site.url}}book-now" class="btn btn-primary">Book Now</a>

                                {% endif %}

                                {# <p class="app-home-desc f-16 mt-4 line-height_1_8 text-muted">Pleasure rationally encounter in consequences that are extremely painful again pursues loves desires obtain pain itself because pain consequences that are extremely painful. </p>
                                <a href="#" class="btn btn-dark-custom">Download Now</a> #}
                            {% endblock %}
                            </div>                       
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section class="mt-4 mb-4">
        <div class="container">
            {{ content }}
        </div>
    </section>
{% endblock %}