
{# For sorting the list in certain order do that before sending the data in here. One possible way could be do this kind of filtering when making a shortcode call.  #}
{# DYNAMIC CONTENT SECTION. TO BE USED (OR USED AS AN EXAMPLE) WHEN SWITCHING TO DYNAMIC CONTENT #}
{% block content %}

    <div class="container">

        {% if participant_display_param.display_title %}
            {% if participant_display_param.custom_title_markup %}
                {{participant_display_param.custom_title_markup|raw}}
            {% else %}
                <h2 class="mt-2">{{participant_display_param.title}}</h2>
                <hr class="animated zoomIn">
            {% endif %}
        {% endif %}

        <div class="row">

            {% for participant in participants %}
                <div class="gallery-item-container mb-3 col-lg-3 col-md-6 col-sm-6 col-xs-6">
                    {% if participant.framework == true %}
                        <div class="framework-flag" data-toggle="tooltip" data-html="true" title="{{participant.name}} is a Framework Supplier"><span>FW</span></div>
                    {% endif %}
                    <div class="gallery-item-logo" data-toggle="modal" data-target="#participant_modal_{{participant.participant_id}}">
                        <img class="img-fluid" src="{{participant.logo.url}}" alt="{{participant.logo.alt}}">
                        <span class="icon-focus"></span>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

    <!-- Participant modals -->
    <div class="modal_container">
        {% for participant in participants %}
            <div class="modal fade" id="participant_modal_{{participant.participant_id}}" tabindex="-1" role="dialog" aria-labelledby="participant_modal_title_{{participant.participant_id}}" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h5 class="modal-title" id="participant_modal_title_{{participant.participant_id}}">{{participant.name}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body mb-2">
                            <div class="container-fluid">
                                <div class="row my-2">
                                    <div class="col-5 text-center">
                                        <img class="img-fluid" src="{{participant.logo.url}}" alt="{{participant.logo.alt}}">
                                        
                                        {% if participant.stand_number %}
                                            <div class="text-center">
                                                <h6>Stand: <span class="font-weight-bold">{{participant.stand_number}}</span></h6>
                                            </div>
                                        {% endif %}

                                        {% if participant.url %}
                                            <div class="my-2 text-center">
                                                <a target="_blank" href="{{participant.url}}" class="btn btn-primary">Find out more</a>
                                            </div>
                                        {% endif %}

                                    </div>
                                    <div class="col-7">{{participant.bio|raw}}</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
