<div class="row pt-5 pb-5 bg-grey">
    <div class="container carousel_container_4_display">

        <div id="speakers_carousel" class="carousel slide carousel_4_endless">

            <div class="col-md-12 wow fadeInUp">
                <h1 class="text-center">Our Speakers</h1>
                <hr class="hr-title animated zoomIn">
                <p class="mt-5 text-center">Procurex National is the UK's largest procurement event and brings together organisations from across the procurement marketplace for a day of innovation, collaboration and education.</p>
            </div>

            <div class="carousel-inner row mb-2 pb-4 mx-auto">

                {% for speaker in speakers %}

                    {# ------------------------------ Speaker start ------------------------------ #}
                    <div class="carousel-item col-md-3 mb-4 {{(speaker.speaker_id == 1) ? 'active' : ''}}"> {# class 'active' is applied only to the first carousel item #}
                        <div class="speaker-cointainer hover-overlay-container">

                            <img src="{{speaker.image.url}}" alt="{{speaker.image.alt}}" />

                            <div class="speaker-name">
                                <p><b>{{speaker.name}}</b></p>
                            </div>

                            <div class="overlay">
                                <div class="text">

                                    <h3>{{speaker.name}}</h3>
                                    <p style="font-size: 13px;">{{speaker.position}}</p>
                                    <div class="text-center d-block position-absolute fixed-bottom mb-2">
                                        <a href="" data-toggle='modal' data-target=".speaker_{{speaker.speaker_id}}" class="btn btn-secondary">Learn More</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    {# ------------------------------ Speaker end ------------------------------ #}

                {% endfor %}

            </div>

        </div>

        <!-- Speaker modals -->
        <div class="modal-container">

            {% for speaker in speakers %}

                <div class="modal fade speaker_{{speaker.speaker_id}}" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog mt-0 modal-lg modal-dialog-centered">
                        <div class="modal-content modal-content-text">

                            <h3>{{speaker.name}}</h3>
                            <h4>{{speaker.position}}</h4>
                            {{speaker.bio|raw}}

                        </div>
                    </div>
                </div>

            {% endfor %}

        </div>

    </div>
</div>
