{% extends "page.twig" %}

{% block content %}

    {# START OPPORTUNITIES #}

    <section id="get-involved">
        <div class="row pt-5 pb-5 bg-custom">
            <div class="level-inner container  pt-5 pb-5">

                <div class="row container-fluid">

                    <div class="col d-none d-lg-block col-3 no-gutter">

                        <p style="text-align: center; visibility: visible; animation-name: fadeInUp;" class="wow fadeInUp">
                            <a class="inline-logo" href="{{site.url}}"><img class="animated zoomIn" src="{{site.url}}static/img/x-logo.png" width="200"/></a>


                        </p>
                        <p style="text-align: center; visibility: visible; animation-name: fadeInUp;" class="wow fadeInUp">
                            <a href="#downloads" class="btn btn-primary btn-block">Sales Brochure</a>
                            <a href="{{site.url}}static/pdf/floorplan.pdf" class="btn btn-primary btn-block">Floorplan</a>
                            <a href="{{site.url}}static/pdf/audience-profile.pdf" class="btn btn-primary btn-block">Audience Profile</a>
                            <a href="{{site.url}}contact" class="btn btn-primary btn-block">Contact Us</a>
                        </p>


                    </div>


                    <div class="col col-9">

                        <h1 class="mt-5">Get Involved</h1>
                        <hr class="animated zoomIn" style="width:400px;">
                        <h3 class="wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">Procurex National is the ideal platform for any organisation looking to sell to the UK’s public sector marketplace, worth £284bn+ annually.</h3>
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;"></p>
                                <p class="bullet wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Generate
                                    <strong>new sales leads</strong>
                                    and connect with existing customers</p>
                                <p class="bullet wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Increase your
                                    <strong>brand awareness</strong>
                                    and competitive advantage with the UK’s public sector</p>
                                <p class="bullet wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Meet with buyer representation from
                                    <strong>all public sector areas</strong>
                                    – Local & Central Government, Health, Education, Housing and Emergency Services</p>
                                <p class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;"></p>
                            </div>
                            <p class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;"></p>
                            <p class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;"></p>
                            <div class="col-sm-6">
                                <p class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;"></p>
                                <p class="bullet wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                    <strong>Network</strong>
                                    with over 1,500 delegates in attendance</p>
                                <p class="bullet wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                    <strong>Showcase</strong>
                                    innovative and cost saving products or solutions to help the UK public sector marketplace</p>
                                <p class="bullet wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">An
                                    <strong>efficient way to do business</strong>
                                    – Buyers coming to you, saving hours on travel and meetings</p>
                                <p class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;"></p>
                            </div><br>
                        </div>


                    </div>


                </div>

            </div>
        </div>
    </section>

    {# END GET OPPORTUNITIES #}

    {# START TESTIMONIALS #}

    <section id="testimonials">
        <div class="row pt-5 pb-5 bg-gradient text-white">
            <div class="container">
                <div class="container-fluid text-center">
                    <h1 class="text-center">Testimonials</h1>
                    <hr class="hr-white hr-title mb-5 animated zoomIn">
                    <div id="carouselContent" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <h5 class="font-weight-bold">"Procurement is big business and always has been, the numbers are staggering."</h5>
                                <p>David Smith, Former Commercial Director, DWP</p>
                            </div>
                            <div class="carousel-item">
                                <h5 class="font-weight-bold">"This is a great opportunity for us to get close to our suppliers and our customers and really learn from them. Procurex is a catalyst, undoubtedly."</h5>
                                <p>Simon Tse, CEO, Crown Commercial Servic</p>
                            </div>
                            <div class="carousel-item">
                                <h5 class="font-weight-bold">"The benefits of events like Procurex, are obviously the networking, but there’s a lot to learn from the different speeches and training offers going on. There’s almost too much!"</h5>
                                <p>Claire Smart, Procurement Director, The National Trust</p>
                            </div>
                            <div class="carousel-item">
                                <h5 class="font-weight-bold">"What I find makes Procurex different from other events is the mix. The stands, the suppliers, the forums and the training events – that mix makes it a very different event."</h5>
                                <p>Malcolm Harrison, CEO, CIPS</p>
                            </div>
                            <div class="carousel-item">
                                <h5 class="font-weight-bold">"Why we keep coming back to these events is the quality of the attendees. We’re speaking to council leaders, government ministers, heads of clinical commissioning groups – we can have conversations with decision makers"</h5>
                                <p>Steve Shirley, Vice President, Public Sector & Ireland, Mastercard</p>
                            </div>
                            <div class="carousel-item">
                                <h5 class="font-weight-bold">"It’s the breadth of the customers to an event like this… It gives us the chance to really connect with people on a lot of levels. It’s a really strong event for us."</h5>
                                <p>Lesley Marshall, Head of Sales, Stapes Solutions</p>
                            </div>
                            <div class="carousel-item">
                                <h5 class="font-weight-bold">"We’ve exhibited before at Procurex and found it very successful. We’ve picked up a couple of projects, some of which we’re still working on now. We’ve also been able to gain information on future frameworks that we’ll be able to bid on."</h5>
                                <p>Alex Gillies, Sales Manager – Public Sector, Herman Miller</p>
                            </div>
                            <div class="carousel-item">
                                <h5 class="font-weight-bold">"We’ve attended Procurex for three years running. We get lots of leads and it’s a great event to be a part of. We don’t attend any other exhibitions in the UK, this is the only one we do. The leads we get from it represent great value."</h5>
                                <p>Chris Last, Sales and Marketing Manager, iCOM Works Ltd</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# END GET TESTIMONIALS #}

    {# START PACKAGES #}

    <section id="opportunities">
        <div class="row pt-5 pb-5 bg-custom">
            <div class="level-inner container  pt-5 pb-5">

                <div class="row container-fluid">

                    <div class="col d-none d-lg-block col-3 no-gutter">

                        <p style="text-align: center; visibility: visible; animation-name: fadeInUp;" class="wow fadeInUp">
                            <a class="inline-logo" href="{{site.url}}"><img class="animated zoomIn" src="{{site.url}}static/img/x-logo.png" width="200"/></a>


                        </p>
                        <p style="text-align: center; visibility: visible; animation-name: fadeInUp;" class="wow fadeInUp">
                            <a href="{{site.url}}contact" class="btn btn-primary btn-block">Contact</a>
                        </p>


                    </div>


                    <div class="col col-9">

                        <h1 class="mt-5">Opportunities</h1>
                        <hr class="animated zoomIn" style="width:400px;">
                        <h3 class="text-primary">Sponsorship & Exhibition Opportunities</h3>
                        <p class="wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">Procurex National offers sponsorship and exhibition packages that have been designed to provide opportunities to all sizes of business looking to make a large branding impact ahead of the event and on the day itself. Please call our team now to discuss your requirements or download the sales brochure to review more detail and pricing surrounding each package.</p>
                        <div class="row">
                            <div class="col-sm-6">
                                <h6 class="pb-3 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                                    <i class="far fa-dot-circle fa-fw pr-4"></i>Headline Platinum Sponsor</h6>
                                <h6 class="pb-3 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                                    <i class="far fa-dot-circle fa-fw pr-4"></i>Cyber Security Sponsor</h6>
                                <h6 class="pb-3 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                                    <i class="far fa-dot-circle fa-fw pr-4"></i>Gold Sponsor</h6>
                                <h6 class="pb-3 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                                    <i class="far fa-dot-circle fa-fw pr-4"></i>Keynote Arena Sponsor</h6>
                                <h6 class="pb-3 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                                    <i class="far fa-dot-circle fa-fw pr-4"></i>Registration Sponsor</h6>
                                <h6 class="pb-3 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                                    <i class="far fa-dot-circle fa-fw pr-4"></i>Lanyard Sponsor</h6>
                                <h6 class="pb-3 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                                    <i class="far fa-dot-circle fa-fw pr-4"></i>Delegate Bag Sponsor</h6>
                                <h6 class="pb-3 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                                    <i class="far fa-dot-circle fa-fw pr-4"></i>Day Planner Sponsor</h6>
                                <p class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;"></p>
                            </div>
                            <p class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;"></p>
                            <p class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;"></p>
                            <div class="col-sm-6">
                                <h6 class="pb-3 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                                    <i class="far fa-dot-circle fa-fw pr-4"></i>Silver Exhibition Stand</h6>
                                <h6 class="pb-3 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                                    <i class="far fa-dot-circle fa-fw pr-4"></i>Bronze Exhibition Stand</h6>
                                <h6 class="pb-3 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                                    <i class="far fa-dot-circle fa-fw pr-4"></i>Small Business Exhibition Stand</h6>
                            </div>
                        </div>


                    </div>


                </div>

            </div>
        </div>
    </section>

    {# END GET PACKAGES #}

    {# START DOWNLOADS #}

    <section id="downloads">
        <div class="row pt-5 pb-5 bg-gradient text-white">
            <div class="container">
                <div class="container-fluid text-center wow fadeInRight">
                    <h1 class="text-center">DOWNLOADS</h1>
                    <hr class="hr-white hr-title mb-5 animated zoomIn">
                    <a href="{{site.url}}static/pdf/floorplan.pdf" class="btn btn-white">Floorplan</a>
                    <a href="{{site.url}}static/pdf/audience-profile.pdf" class="btn btn-white">Audience Profile</a>
                </div>
            </div>
        </div>
    </section>

    {# END GET DOWNLOADS #}

    {# START SALES BROCHURE #}

    <section id="brochure">
        <div class="row pt-5 pb-5 bg-custom">
            <div class="container">
                <div class="container-fluid text-center wow fadeInRight">
                    <div class="row pt-5 pb-5">
                        <div class="container">
                            <div class="container-fluid">
                                <h1 class="text-center">Download Sales Brochure</h1>
                                <hr
                                class="hr-title mb-5 animated zoomIn" style="width:300px;">

                                <!-- Material form register -->
                                <div class="card card-bg">

                                    <h5 class="card-header bg-primary text-white mb-5 info-color white-text text-center py-4">
                                        <strong>Please complete your details to download the Sales Brochure</strong>
                                    </h5>

                                    <!--Card content-->
                                    <div
                                        class="card-body px-lg-5 pt-0">

                                        <!-- Form -->
                                        <form class="font-weight-bold text-center mx-5" style="color: #757575;" id="brochure-form" action="javascript:storeBrochureDetails()">
                                            <h5 class="text-dark">Your Details</h5>
                                            <div id="form_error" class="text-danger" style="display:none;">
                                                <p>Please fill in all the form fields.</p>
                                            </div>
                                            <div class="form-row my-4">
                                                <div
                                                    class="col-md-6 col-sm-12">
                                                    <!-- Brochure Name -->
                                                    <div class="md-form mt-2">
                                                        <label for="brochureName">Name</label>
                                                        <input type="text" name="brochureName" id="brochureName" class="form-control brochure_input" required="true">
                                                    </div>
                                                </div>
                                                <div
                                                    class="col-md-6 col-sm-12">
                                                    <!-- Brochure Email -->
                                                    <div class="md-form mt-2">
                                                        <label for="brochureEmail">Email</label>
                                                        <input type="text" name="brochureEmail" id="brochureEmail" class="form-control brochure_input" required="true">
                                                    </div>
                                                </div>
                                                <div
                                                    class="col-md-6 col-sm-12">
                                                    <!-- Brochure Company -->
                                                    <div class="md-form mt-2">
                                                        <label for="brochureCompany">Company</label>
                                                        <input type="text" name="brochureCompany" id="brochureCompany" class="form-control brochure_input" required="true">
                                                    </div>
                                                </div>
                                                <div
                                                    class="col-md-6 col-sm-12">
                                                    <!-- Brochure Company -->
                                                    <div class="md-form mt-2">
                                                        <label for="brochureCompany">Telphone Number</label>
                                                        <input type="text" name="brochurePhone" id="brochurePhone" class="form-control brochure_input" required="true">
                                                    </div>
                                                </div>

                                                <div
                                                    class="col-md-6 col-sm-12">
                                                    <!-- Organisation Turnover -->
                                                    <div class="md-form mt-2">
                                                        <label for="brochureTurnover">Organisation Turnover?</label>
                                                        <select class="form-control brochure_input" id="brochureTurnover" name="brochureTurnover" required>
                                                            <option value="">Please Select</option>
                                                            <option value="0 – &pound;49k">0 – &pound;49k</option>
                                                            <option value="&pound;50k – &pound;99k">&pound;50k – &pound;99k</option>
                                                            <option value="&pound;100k – &pound;249k">&pound;100k – &pound;249k</option>
                                                            <option value="&pound;250k – &pound;499k">&pound;250k – &pound;499k</option>
                                                            <option value="&pound;500k – &pound;999k">&pound;500k – &pound;999k</option>
                                                            <option value="&pound;1m – &pound;4.99m">&pound;1m – &pound;4.99m</option>
                                                            <option value="&pound;5m – &pound;9.99m">&pound;5m – &pound;9.99m</option>
                                                            <option value="&pound;10m – &pound;19.99m">&pound;10m – &pound;19.99m</option>
                                                            <option value="&pound;100m – &pound;399.99m">&pound;100m – &pound;399.99m</option>
                                                            <option value="&pound;400m +">&pound;400m +</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div
                                                    class="col-md-6 col-sm-12">
                                                    <!-- Sector Area -->
                                                    <div class="md-form mt-2">
                                                        <label for="brochureOpSector">What Sector Do You Operate In?</label>
                                                        <input type="text" name="brochureOpSector" id="brochureOpSector" class="form-control brochure_input" required="true">
                                                    </div>
                                                </div>
                                                <div
                                                    class="col-md-12 col-sm-12">
                                                    <!-- Supply To The Public Sector -->
                                                    <div class="md-form mt-2">
                                                        <label for="brochureSupplyToPublic">Do You Currently Supply To The Public Sector?</label>
                                                        <select class="form-control brochure_input" id="brochureSupplyToPublic" name="brochureSupplyToPublic" required="true">
                                                            <option value="">Please Select</option>
                                                            <option value="Yes">Yes</option>
                                                            <option value="No">No</option>             
                                                        </select>
                                                    </div>
                                                </div>

                                            </div>

                                            <!-- Download Brochure -->
                                            <button id="storeBrochureDetails" class="btn btn-primary btn-block my-4 waves-effect z-depth-0" type="button">Download Brochure</button>
                                            {# <input class="btn btn-primary btn-block my-4 waves-effect z-depth-0" type="submit" value="Download Brochure"> #}
                                            </div>

                                        </form>
                                        <script src="https://js.stripe.com/v3/"></script>
                                        <script>
                                            function storeBrochureDetails() {
                                                var form = jQuery('#brochure-form');
                                                var url = '{{ site.url }}php/brochure.php';

                                                $('#form_error').hide();
                                                console.log('submitting form');

                                                $.ajax({
                                                    type: "POST", 
                                                    url: url, 
                                                    data: form.serialize(), // serializes the form's elements.
                                                    success: function (response) {
                                                        if(response != 'incomplete_form'){
                                                            location.href = '{{ site.url }}static/pdf/sales-brochure.pdf';
                                                        }else{
                                                            $('#form_error').fadeIn();
                                                            $('#storeBrochureDetails').click();
                                                            $('body,html').animate(
                                                            {
                                                                scrollTop: form.offset().top - 100
                                                            },
                                                            800 //speed
                                                            );
                                                        }
                                                    }
                                                });
                                            }
                                        </script>
                                        <!-- Form -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>

    {# END SALES BROCHURE #}


{% endblock %}
