{% extends "page.twig" %}

{% block content %}

    {# START SUCCESS #}

    <section id="success">
        <div class="row pt-5 pb-5 bg-custom">
            <div class="container">
                <div class="container-fluid">
                <h1 style="text-center">Thank you for registering for {{event.name}}</h1>
                <hr style="hr-title">
                <p>You will receive a confirmation email within 24 hours (you may need to check your spam/junk folder). If you do not receive this email please contact us to discuss your registration <a href="mailto:events@procurexnational.co.uk">events@procurexnational.co.uk</a>  or call us on 0845 270 7095*</p>

                <p>We look forward to welcoming you to Procurex National 2020.</p>

                <p>*Please note that calls cost 2p per minute plus your company access charge which varies between providers.</p>

                <a class="btn btn-primary" href="{{site.url}}">Home</a> <a class="btn btn-primary" href="{{site.url}}contact">Contact</a>

                </div>
            </div>
        </div>
    </section>

    {# END SUCCESS #}

{% endblock %}
