{% extends "page.twig" %}

{% block content %}

    {# START THEMES #}

    <section id="themes">
        <div class="row pt-5 pb-5 bg-gradient text-white">
            <div class="container">
                <div class="container-fluid">
                    <h1 class="text-center">Event Themes</h1>
                    <hr
                    class="hr-title hr-white animated zoomIn mb-5">
                    <!-- Classic tabs -->
                    <div class="classic-tabs mx-2">

                        <ul class="nav text-center tabs-orange" id="myClassicTabOrange" role="tablist">
                            <li class="col-lg-2 col-4 nav-item">
                                <a class="nav-link waves-light active show font-weight-bold v-center" style="color:red; border-bottom: 7px solid; min-height: 145px;" id="profile-tab-classic-orange" data-toggle="tab" href="#profile-classic-orange" role="tab" aria-controls="profile-classic-orange" aria-selected="true">
                                    <img class="img-fluid" src="{{site.url}}static/img/Public-Sector-Solutions-Live-logo.png"></a>
                            </li>
                            <li class="col-lg-2 col-4 nav-item">
                                <a class="nav-link waves-light font-weight-bold v-center" style="color:#6f42c1; border-bottom: 7px solid; min-height: 145px;" id="follow-tab-classic-orange" data-toggle="tab" href="#follow-classic-orange" role="tab" aria-controls="follow-classic-orange" aria-selected="false">
                                    <img class="supplyChainLogo" src="{{site.url}}static/img/SupplyChainRiskManagement.png"></a>
                            </li>
                            <li class="col-lg-2 col-4 nav-item">
                                <a class="nav-link waves-light font-weight-bold" style="color:#0ea200; border-bottom: 7px solid;  min-height: 145px;" id="contact-tab-classic-orange" data-toggle="tab" href="#contact-classic-orange" role="tab" aria-controls="contact-classic-orange" aria-selected="false">
                                    <i class="fas fa-atom fa-2x pb-2" style="color:#0ea200; font-size:50px;" aria-hidden="true"></i><br>Technology & Digital</a>
                            </li>
                            <li class="col-lg-2 col-4 nav-item">
                                <a class="nav-link waves-light font-weight-bold" style="color:#ff6300; border-bottom: 7px solid;  min-height: 145px;" id="awesome-tab-classic-orange" data-toggle="tab" href="#awesome-classic-orange" role="tab" aria-controls="awesome-classic-orange" aria-selected="false">
                                    <i class="fas fa-users fa-2x pb-2" style="color:#ff6300; font-size:50px;" aria-hidden="true"></i><br>Social Value</a>
                            </li>
                            <li class="col-lg-2 col-4 nav-item">
                                <a class="nav-link waves-light font-weight-bold" style="color:#ff00e6; border-bottom: 7px solid;  min-height: 145px;" id="awards-tab-classic-orange" data-toggle="tab" href="#awards-classic-orange" role="tab" aria-controls="awesome-classic-orange" aria-selected="false">
                                    <i class="fas fa-briefcase fa-2x pb-2" style="color:#ff00e6; font-size:50px;" aria-hidden="true"></i><br>Procurement Skills</a>
                            </li>
                            <li class="col-lg-2 col-4 nav-item">
                                <a class="nav-link waves-light font-weight-bold" style="color:#05f; border-bottom: 7px solid;  min-height: 145px;" id="bid-tab-classic-orange" data-toggle="tab" href="#bid-classic-orange" role="tab" aria-controls="awesome-classic-orange" aria-selected="false">
                                    <i class="fas fa-life-ring fa-2x pb-2" style="color:#05f; font-size:50px;" aria-hidden="true"></i><br>Bid Support</a>
                            </li>
                        </ul>

                        <div class="tab-content card" id="myClassicTabContentOrange">
                            <div class="tab-pane fade active show p-4" id="profile-classic-orange" role="tabpanel" aria-labelledby="profile-tab-classic-orange">

                                <div class="event-theme-logo-container float-lg-right float-md-none float-sm-none">
                                    <div class="custom-image">
                                        <img class="img-fluid" src="{{site.url}}static/img/Public-Sector-Solutions-Live-logo.png" alt="">
                                    </div>
                                </div>

                                <h5>Public Sector Solutions</h5>
                                <p>Public Sector Solutions Live Stage is specifically designed for high-level procurement professionals to look at the pre-procurement challenges in order to encourage innovation at an early stage. Some experts in the field will talk you through their experiences, and will challenge your perceptions and encourage you to think about procurement in a different way.</p>

                                <p>As a delegate you will get the chance to learn about:</p>
                                <ul>
                                    <li>Issues and challenges in the commissioning process</li>
                                    <li>How to get started with a project</li>
                                    <li>How public sector can learn from the private sector</li>
                                    <li>What potential your organisation could reach in the future</li>
                                </ul>
                                <h5>Agenda</h5>
                                <p>Experts in the field will talk you through their experiences and challenge your perceptions to encourage you to think about procurement in a different way.</p>

                                {{ include('agenda_items.twig', {agenda_items: agenda_items.public_sector, item_type: 'public_sector'}) }}

                            </div> 


                            <div class="tab-pane fade p-4" id="follow-classic-orange" role="tabpanel" aria-labelledby="follow-tab-classic-orange">

                                <div class="event-theme-logo-container float-lg-right float-md-none float-sm-none">
                                    <div class="custom-image">
                                        <img class="img-fluid" src="{{site.url}}static/img/SupplyChainRiskManagement.png" alt="">
                                    </div>
                                </div>

                                <h5>Supply Chain & Risk Management</h5>
                                <p>The Supply Chain and Risk Management Live Stage underlines just how essential transparency is in this area. Knowing who your suppliers are is just the start – understanding who supplies them, what their ownership structure is and whether their business is sustainable in the long term are just a few of the essential factors in the post-Carillion world. Our experts will help you understand what you need to know and how to assess risk and opportunity effectively.</p>
                                <p>As a delegate you will get the chance to learn about:</p>
                                    <ul>
                                        <li>How to define risk within your supply chain</li>
                                        <li>Using data-led intelligence to identify potential current and future risk</li>
                                        <li>The questions to ask your suppliers to determine their social, moral and environmental credentials</li>
                                        <li>Emerging trends in governance and compliance</li>
                                    </ul>
                                <h5>Agenda</h5>
                                <p>Experts in these areas will use their expertise and experiences to encourage you to help develop your understanding and capabilities in this area</p>

                                {{ include('agenda_items.twig', {agenda_items: agenda_items.supply_chain, item_type: 'supply_chain'}) }}

                            </div>


                            <div class="tab-pane fade p-4" id="contact-classic-orange" role="tabpanel" aria-labelledby="contact-tab-classic-orange">

                                <div class="event-theme-logo-container float-lg-right float-md-none float-sm-none">
                                    <div class="custom-image">
                                        <div class="font-weight-bold text-center" style="color:#0ea200;">
                                            <i class="fas fa-atom fa-2x pb-2" style="color:#0ea200; font-size:50px;"></i><br>
                                            Technology & Digital
                                        </div>
                                    </div>
                                </div>

                                <h5>Technology & Digital</h5>
                                <p>A growing emphasis is being placed on inventing and adopting innovative solutions to sustain and further develop the quality of public procurement across the UK’s marketplace, with the ambition being to streamline the procurement of goods and services and reduce costs through innovation, process transformation and adoption of digital technologies.</p>

                                <h5>Agenda</h5>
                                <p>The Technology & Digital Academy Zone at Procurex will provide attendees with a unique opportunity to participate in a range of interactive training sessions and workshops, designed to provide an insight into the latest development and initiatives that are both planned and currently being delivered across the UK’s public procurement marketplace.</p>

                                {{ include('agenda_items.twig', {agenda_items: agenda_items.technology_digital, item_type: 'technology_digital'}) }}

                            </div>


                            <div class="tab-pane fade p-4" id="awesome-classic-orange" role="tabpanel" aria-labelledby="awesome-tab-classic-orange">

                                <div class="event-theme-logo-container float-lg-right float-md-none float-sm-none">
                                    <div class="custom-image">
                                        <div class="font-weight-bold text-center" style="color:#ff6300;">
                                            <i class="fas fa-users fa-2x pb-2" style="color:#ff6300; font-size:50px;"></i><br>
                                            Social Value
                                        </div>
                                    </div>
                                </div>

                                <h5>Social Value</h5>
                                <p>Delivering good quality public services within budget and offering added value is key. Social value in the procurement process is crucial to councils and is a keyway of helping improve local economic growth.</p>

                                <p>Social Value reflects an increased focus and ambition for a significant culture change across all public bodies, buyers and commissioning services to ensure that Social Value is not only adequately improved upon and considered in local government but is also incorporated as a requirement within central government’s procurement process.</p>

                                <h5>Agenda</h5>
                                <p>This year’s Social Value Academy Zone will provide attendees with a unique opportunity to participate in a range of interactive training sessions and workshops, showcasing Social Value initiatives and best practice within local government procurement.</p>

                                {{ include('agenda_items.twig', {agenda_items: agenda_items.social_value, item_type: 'social_value'}) }}

                            </div>


                            <div class="tab-pane fade p-4" id="awards-classic-orange" role="tabpanel" aria-labelledby="awards-tab-classic-orange">

                                <div class="event-theme-logo-container float-lg-right float-md-none float-sm-none">
                                    <div class="custom-image">
                                        <div class="font-weight-bold text-center" style="color:#ff00e6;">
                                            <i class="fas fa-briefcase fa-2x pb-2" style="color:#ff00e6; font-size:50px;"></i><br>
                                            Procurement Skills
                                        </div>
                                    </div>
                                </div>

                                <h5>Procurement Skills</h5>
                                <p>Attending the Procurement Skills Academy at Procurex National will allow you to further your career development opportunities by upskilling in key areas of public sector procurement. These interactive zones will offer a one stop shop for anyone looking to improve their knowledge of procurement. Sessions are free to attend, and ALL sessions are CPD Certified and count towards CIPS Chartered Status</p>

                                <h5>Agenda</h5>

                                {{ include('agenda_items.twig', {agenda_items: agenda_items.procurement_skills, item_type: 'procurement_skills'}) }}

                            </div>


                            <div class="tab-pane fade p-4" id="bid-classic-orange" role="tabpanel" aria-labelledby="bid-tab-classic-orange">

                                <div class="event-theme-logo-container float-lg-right float-md-none float-sm-none">
                                    <div class="custom-image">
                                        <div class="font-weight-bold text-center" style="color:#05f;">
                                            <i class="fas fa-life-ring fa-2x pb-2" style="color:#05f; font-size:50px;"></i><br>
                                            Bid Support
                                        </div>
                                    </div>
                                </div>

                                <h5>Bid Support</h5>
                                <p>Make the most of your day by visiting the Procurement Skills Academy - Bid Support Zone covering topics such as the do’s and don’ts of tendering as well as other relevant procurement training topics. The Bid Support Zone delivers a variety of Bid Support related topics including Understanding Added Value and Tips to Improve your Bid.</p>

                                <h5>Agenda</h5>
                                <p>You may have little experience of bidding or you may have lots, however, just how much do you really understand about the process and what the buyer is looking for?</p>

                                <p>Do you know that the public sector is moving towards life-cycle costing and ensuring that the specification takes consideration of issues, other than just price? Can you interpret a specification to find out exactly what the buyer is looking for or do you spend a lot of time responding but not winning?</p>

                                <p>The sessions in the Bid Support Zone will look at key issues including What the Buyer Really Wants, Tips to Improve your Bid and Your Rights at Standstill.</p>

                                {{ include('agenda_items.twig', {agenda_items: agenda_items.bid_support, item_type: 'bid_support'}) }}

                            </div>

                        </div>
                    </div>
                    <!-- Classic tabs -->
                </div>
            </div>
        </div>

    </section>

    {# END THEMES #}

{% endblock %}
