<section id="book-now">
    <div class="row pt-5 pb-5">
        <div class="container">
            <div class="container-fluid">
                <h1 class="text-center">Booking Form</h1>
                <hr
                class="hr-title mb-5 animated zoomIn" style="width:300px;">

                <!-- Material form register -->
                <div class="card card-bg">

                    <h5 class="card-header bg-primary text-white mb-5 info-color white-text text-center py-4">
                        <strong>Register to Attend</strong>
                    </h5>

                    <!--Card content-->
                    <div
                        class="card-body px-lg-5 pt-0">

                        <!-- Form -->
                        <form action="javascript:createCustomer()" class="font-weight-bold text-center mx-5" style="color: #757575;" id="register-form">
                            <h5 class="text-dark">Your Details</h5>
                            <div class="form-row my-4">

                                <div
                                    class="col-md-6 col-sm-12">
                                    <!-- First name -->
                                    <div class="md-form">
                                        <label for="firstName">First Name</label>
                                        <input type="text" name="firstName" id="firstName" class="form-control" required="true">
                                    </div>
                                </div>
                                <div
                                    class="col-md-6 col-sm-12">
                                    <!-- Last name -->
                                    <div class="md-form">
                                        <label for="lastName">Last Name</label>
                                        <input type="text" name="lastName" id="lastName" class="form-control" required="true">
                                    </div>
                                </div>
                            </div>

                            <div class="form-row my-4">
                                <div
                                    class="col-md-6 col-sm-12">
                                    <!-- Email -->
                                    <div class="md-form">
                                        <label for="email">Email</label>
                                        <input type="email" name="email" id="email" class="form-control" required="true">
                                    </div>
                                </div>
                                <div
                                    class="col-md-6 col-sm-12">
                                    <!-- Country -->
                                    <div class="md-form">
                                        <label for="country">Country</label>
                                        <select name="country" id="country" class="form-control" required="true">
                                            <option>United Kingdom</option>
                                            <option>Ireland</option>
                                            <option>Austria</option>
                                            <option>Belgium</option>
                                            <option>Bulgaria</option>
                                            <option>Croatia</option>
                                            <option>Cyprus</option>
                                            <option>Czechia</option>
                                            <option>Denmark</option>
                                            <option>Estonia</option>
                                            <option>Finland</option>
                                            <option>France</option>
                                            <option>Germany</option>
                                            <option>Greece</option>
                                            <option>Hungary</option>
                                            <option>Italy</option>
                                            <option>Latvia</option>
                                            <option>Lithuania</option>
                                            <option>Luxenbourg</option>
                                            <option>Malta</option>
                                            <option>Netherlands</option>
                                            <option>Poland</option>
                                            <option>Portugal</option>
                                            <option>Romania</option>
                                            <option>Slovakia</option>
                                            <option>Slovenia</option>
                                            <option>Spain</option>
                                            <option>Sweden</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row my-4">
                                <div
                                    class="col-md-6 col-sm-12">
                                    <!-- Address 1 -->
                                    <div class="md-form">
                                        <label for="address1">Address 1</label>
                                        <input type="text" name="address1" id="address1" class="form-control" required="true">
                                    </div>
                                </div>
                                <div
                                    class="col-md-6 col-sm-12">
                                    <!-- Address 2 -->
                                    <div class="md-form">
                                        <label for="address2">Address 2 (Optional)</label>
                                        <input type="text" name="address2" id="address2" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="form-row my-4">
                                <div
                                    class="col-md-6 col-sm-12">
                                    <!-- Town/City -->
                                    <div class="md-form">
                                        <label for="city">City</label>
                                        <input type="text" name="city" id="city" class="form-control" required="true">
                                    </div>
                                </div>
                                <div
                                    class="col-md-6 col-sm-12">
                                    <!-- County -->
                                    <div class="md-form">
                                        <label for="county">County (Optional)</label>
                                        <input type="text" name="county" id="county" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="form-row my-4">
                                <div
                                    class="col-md-6 col-sm-12">
                                    <!-- Postcode -->
                                    <div class="md-form">
                                        <label for="postcode">Postcode</label>
                                        <input type="text" name="postcode" id="postcode" class="form-control" required="true">
                                    </div>
                                </div>
                                <div
                                    class="col-md-6 col-sm-12">
                                    <!-- Phone -->
                                    <div class="md-form">
                                        <label for="phone">Phone</label>
                                        <input type="text" name="phone" id="phone" class="form-control" required="true">
                                    </div>
                                </div>
                            </div>

                            <div class="form-row my-4">
                                <div
                                    class="col-md-6 col-sm-12">
                                    <!-- Organisation Name -->
                                    <div class="md-form">
                                        <label for="organisationName">Organisation Name</label>
                                        <input type="text" name="organisationName" id="organisationName" class="form-control" required="true">
                                    </div>
                                </div>
                                <div
                                    class="col-md-6 col-sm-12">
                                    <!-- Organisation Type -->
                                    <label for="organisationType">Organisation Type</label>
                                    <select name="organisationType" id="organisationType" class="form-control" required="true">
                                        <option value="">Please choose your organisation type</option>
                                        <option value="Government, Hospital, Education, or Other Public Body">
                                            Government, Hospital, Education, or Other Public Body</option>
                                        {% if paid %}
                                        <option value="Limited Company">Limited Company</option>
                                        <option value="Limited Liability Partnership">Limited Liability Partnership
                                        </option>
                                        {% endif %}
                                        <option value="Not-For-Profit Corporation">Not-For-Profit Corporation</option>
                                        {% if paid %}
                                        <option value="Overseas Incorporated Organisation">Overseas Incorporated
                                                                                                                                    Organisation</option>
                                        <option value="Partnership in Scotland">Partnership in Scotland</option>
                                        <option value="Other Type of Partnership">Other Type of Partnership</option>
                                        <option value="Sole Trader">Sole Trader</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-row my-4">
                                <div
                                    class="col-md-6 col-sm-12">
                                    <!-- Position -->
                                    <div class="md-form">
                                        <label for="position">Job Title / Position</label>
                                        <input type="text" name="position" id="position" class="form-control" required="true">
                                    </div>
                                </div>
                                <div
                                    class="col-md-6 col-sm-12">
                                    <!-- referred -->
                                    <div class="md-form">
                                        <label for="orderNotes">How Did You Hear About Us? (Optional)</label>
                                        <input type="textarea" name="referred" id="referred" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="form-row my-4">
                                <div
                                    class="col-md-6 col-sm-12">
                                    <!-- Position -->
                                    <div class="md-form">
                                        <label for="businessType">Business Type</label>
                                        <select name="businessType" id="businessType" class="form-control" required="true">
                                            <option value="">Please choose your business type</option>
                                            <option value="Central Government">Central Government</option>
                                            <option value="Local Government">Local Government</option>
                                            <option value="Higher Education">Higher Education</option>
                                            <option value="Emergency Services">Emergency Services</option>
                                            <option value="Health">Health</option>
                                            <option value="Education">Education</option>
                                            <option value="Third Sector/Charity">Third Sector/Charity</option>
                                            <option value="Other">Other</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div
                                    class="col-md-6 col-sm-12">
                                    <!-- Industry Sector -->
                                    <div class="md-form">
                                        {% if paid %}<label for="industrySector">Industry Sector</label>{% endif %}
                                        <select name="industrySector" id="industrySector" class="form-control" {% if paid %}required="true"{% else %}hidden{% endif %} >
                                            <option value="" selected>Please choose your industry sector</option>
                                            <option value="Aerospace and Airports">Aerospace and Airports</option>
                                            <option value="Agriculture">Agriculture</option>
                                            <option value="Chemicals">Chemicals</option>
                                            <option value="Civil Engineering">Civil Engineering</option>
                                            <option value="Clothing and Textiles">Clothing and Textiles</option>
                                            <option value="Communications">Communications</option>
                                            <option value="Construction">Construction</option>
                                            <option value="Consulting">Consulting</option>
                                            <option value="Chemicals">Education and Training</option>
                                            <option value="Electronics">Electronics</option>
                                            <option value="Emergency services">Emergency services</option>
                                            <option value="Energy">Energy</option>
                                            <option value="Environmental">Environmental</option>
                                            <option value="Finance">Finance</option>
                                            <option value="Food and beverage">Food and beverage</option>
                                            <option value="Furniture and domestic equipment">Furniture and domestic equipment</option>
                                            <option value="IT">IT</option>
                                            <option value="Laboratory and precision equipment/services">Laboratory and precision equipment/services</option>
                                            <option value="Logistics, storage and removals">Logistics, storage and removals</option>
                                            <option value="Machinery">Machinery</option>
                                            <option value="Mining, ores, metals and aggregates">Mining, ores, metals and aggregates</option>
                                            <option value="Office equipment, supplies and services">Office equipment, supplies and services</option>
                                            <option value="Printing, publishing and related supplies and services">Printing, publishing and related supplies and services</option>
                                            <option value="Research and development">Research and development</option>
                                            <option value="Security">Security</option>
                                            <option value="Social care/social work services and supplies">Social care/social work services and supplies</option>
                                            <option value="Sports">Sports</option>
                                            <option value="Vehicles and transport">Vehicles and transport</option>
                                            <option value="Other">Other</option>
                                        </select>
                                    </div>
                                </div>
                                
                            </div>

                            <div class="md-form mt-0 my-4">
                                <!-- Order Notes -->
                                    <div class="md-form">
                                        <label for="orderNotes">Special Requirements (Optional)</label>
                                        <input type="textarea" name="orderNotes" id="orderNotes" class="form-control">
                                    </div>
                            </div>

                            {# {% if paid %}
                            <div class="md-form mt-0 my-4">
                                <!-- Order Notes -->
                                    <div class="md-form">
                                        <label for="qty">Quantity of Tickets</label>
                                        <input type="number" name="qty" id="qty" class="form-control" min="1" max="99">
                                    </div>
                            </div>
                            {% endif %} #}

                            {% if paid %}
                            <h5 class="text-dark">Add Attendee Details</h5>
                            <p>If you require more than one ticket please click 'Add Attendee' and add in more attendees</p>
                            <div class="form-group" id="additional-attendees" data-ac-repeater="attendees" data-ac-repeater-text="Add Attendee">
                                <div class="form-row my-4">
                                    <div
                                        class="col-md-4 col-sm-12">
                                        <!-- Attendee Name -->
                                        <div class="md-form">
                                            <label for="attendeeName">Attendee Name</label>
                                            <input type="text" name="attendeeName" id="attendeeName" class="form-control">
                                        </div>
                                    </div>
                                    <div
                                        class="col-md-4 col-sm-12">
                                        <!-- Attendee Name -->
                                        <div class="md-form">
                                            <label for="attendeeName">Attendee Email</label>
                                            <input type="email" name="attendeeEmail" id="attendeeEmail" class="form-control">
                                        </div>
                                    </div>
                                    <div
                                        class="col-md-4 col-sm-12">
                                        <!-- Attendee Organisation -->
                                        <div class="md-form">
                                            <label for="attendeeOrganisation">Attendee Organisation</label>
                                            <input type="textarea" name="attendeeOrganisation" id="attendeeOrganisation" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}


                            <!-- DISCOUNT CODE -->
                            {# <div class="md-form mt-0">
                                                                                        <input type="email" name="discountCode" id="discountCode" class="form-control">
                                                                                        <label for="materialRegisterFormEmail">Discount Code (Optional)</label>
                                                                                    </div> #}

                            <!-- Terms and Conditions -->
                                <div class="form-check text-left"> <input type="checkbox" class="form-check-input" id="terms" name="terms" required="true">
                                <label class="form-check-label text-small" for="terms">All delegates and I agree to the
                                    <a href="https://www.bipsolutions.com/terms-and-conditions/" target="_blank">Terms
                                                                                                                        and Conditions</a>
                                </label>
                            </div>

                            <!-- Marketing Opt In -->
                            <div class="form-check text-left">
                                <input type="checkbox" class="form-check-input" name="marketing-input" id="marketing-input">
                                <label class="form-check-label text-small" for="marketing" id="marketing-label">BiP
                                                                                                            Solutions looks after your details carefully. We offer a range of products, services
                                                                                                            and events (some of which are free) that help buyers tender more efficiently and
                                                                                                            suppliers find, bid for and win public and private sector contracts. Only tick the
                                                                                                            box if you wish to receive information about these. We will never share your details
                                                                                                            with third parties.
                                </label>
                            </div>

                            <!-- Attendee List Opt In -->
                            <div class="form-check text-left">
                                <input type="checkbox" class="form-check-input" name="attendeeList" id="attendeeList">
                                <label class="form-check-label text-small" for="AttendeeList">Please tick this box to
                                                                                                            confirm you consent to your name, job title and organisation being included on an
                                                                                                            attendee list that BiP shares with event stakeholders (sponsors, exhibitors and
                                                                                                            event partners) after the event.</label>
                            </div>

                            <!-- Disclaimer Opt In -->
                            <div class="form-check text-left">
                                <input type="checkbox" class="form-check-input" name="disclaimer" id="disclaimer" required="true">
                                <label class="form-check-label text-small" for="disclaimer">Please tick this box to
                                                                                                            confirm you understand the following disclaimer: Some exhibitors or sponsors may
                                                                                                            request to scan your badge while you are at the event. Please be aware that by
                                                                                                            allowing your badge to be scanned by an exhibitor or sponsor on an event stand, you
                                                                                                            will be giving consent for BIP to pass your contact information (name, organisation
                                                                                                            name and address, email address and phone number) to that exhibitor / sponsor.
                                                                                                            Should you not wish this to happen, you can elect not to have your badge scanned on
                                                                                                            a stand. If you have questions about how your data will be used before agreeing to
                                                                                                            be scanned, this is the responsibility of the exhibitor and you should enquire with
                                                                                                            them prior to committing to agreeing to your badge being scanned. Our privacy policy
                                                                                                            describes how we collect, use and look after your information. To find out more
                                                                                                            click here</label>
                            </div>
                            
                            <input type="hidden" id="ticketType" name="ticketType" value="{% if paid %}private{% else %}public{% endif %}">

                                
                            
                            <!-- Sign up button -->
                            <button class="btn btn-primary btn-block my-4 waves-effect z-depth-0" type="submit">Complete Order <i class="spinner fas fa-cog fa-spin" style="display:none;"></i></button>
                        </form>
                        <script src="https://js.stripe.com/v3/"></script>
                        <script>

                            function createCustomer() {
                                var stripe = Stripe('pk_test_pzPEaQLnKjkQUh1krA2EWkLz00q4BvnEHL');
                                var form = jQuery('#register-form');
                                var url = '{{ site.url }}php/create_customer.php';
                                
                                console.log();
                                $('.spinner').show();

                                $.ajax({
                                    type: "POST", 
                                    url: url, 
                                    data: form.serialize(), // serializes the form's elements.
                                    success: function (response) {
                                        console.log('Create Customer php Gave response');
                                        response = JSON.parse(response);
                                        console.log(response);
                                        {% if paid %}
                                            console.log('Paid');
                                            location.href = '{{ site.url }}php/checkout.php?customer='+response['customer']+'&qty='+response['qty'];
                                        {% else %}
                                            console.log('Not Paid');
                                            $.ajax({
                                                type: "POST",
                                                url: '{{ site.url }}php/free-ticket.php',
                                                data: {
                                                    'id': response['customer'],
                                                }, // serializes the form's elements.
                                                success: function (id) {
                                                    location.href = '{{ site.url }}success';
                                                }
                                            });{% endif %}

                                    }
                                });


                            }
                        </script>
                        <!-- Form -->
                    </div>

                </div>
            </div>
        </div>
    </section>
