
<ul class="navbar-nav ml-auto navbar-center" id="mySidenav">
	{% for item in items %}
		<li class="nav-item {% if item.sub_items %}dropdown{% endif %}">
				<a class="nav-link{% if item.sub_items %} dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false{% endif %}" {% if item.sub_items == false %}href="{{ site.url }}{{item.url}}"{% endif %} data-anchor="{{item.url}}">{{item.label}}</a>
				{% if item.sub_items == true %}
					<div class="dropdown-menu">
						{% for sub_item in item.sub_items %}
							<a class="dropdown-item" href="{{ site.url }}{{ sub_item.url }}">{{ sub_item.label }}</a>
						{% endfor %}
					</div>
				{% endif %}
		</li>
	{% endfor %}
</ul>
