<form method="post" action="javascript:createCustomer()" name="contact-form" id="customer-form">

    <div class="row">
        <div class="col-lg-12">
            <div class="form-group mt-3">
                <input name="name" id="name" type="text" class="form-control" placeholder="Your Name">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="form-group mt-3">
                <input name="email" id="email" type="email" class="form-control" placeholder="Your Email">
            </div>
        </div>

        <div class="col-lg-6">
            <div class="form-group mt-3">
                <input name="custom1" id="custom1" type="text" class="form-control" placeholder="Custom Data 1">
            </div>
        </div>
    </div>

    <label>Add Additional Delegates</label>
    <div class="form-group" id="additional-delegates" data-ac-repeater="delegates" date-ac-repeater-text="Add Delegate">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-control">
                    <input name="delegate_name" type="text" class="form-control" placeholder="Delegate Name">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-control">
                    <input name="delegate_email" type="text" class="form-control" placeholder="Delegate Email">
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <div class="form-group mt-3">
                <textarea name="comments" id="comments" rows="5" class="form-control"
                    placeholder="Your Message"></textarea>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="mt-3">
                <input type="submit" id="submit" name="send" class="submitBnt btn btn-md btn-dark-custom"
                    value="Send Message">
                <div id="simple-msg"></div>
            </div>
        </div>
    </div>
</form>

<script>
    function createCustomer() {
        var stripe = Stripe('pk_test_pzPEaQLnKjkQUh1krA2EWkLz00q4BvnEHL');
        var form = jQuery('#customer-form');
        var url = '{{site.url}}php/create_customer.php';

        $.ajax({
            type: "POST",
            url: url,
            data: form.serialize(), // serializes the form's elements.
            success: function (id) {
                location.href = '{{site.url}}/php/checkout.php?customer=' + id;
                console.log('Customer created');
            }
        });


    }
</script>